{
  "openapi": "3.0.1",
  "info": {
    "title": "Sage 200 v1 Extra POP",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.columbus.sage.com/uk/sage200extra/accounts/v1/"
    }
  ],
  "tags": [
    {
      "name": "Lookup POP Orders",
      "description": ""
    },
    {
      "name": "POP Additional Charges",
      "description": ""
    },
    {
      "name": "POP Authorisation Status Types",
      "description": ""
    },
    {
      "name": "POP Cancelled Lines",
      "description": ""
    },
    {
      "name": "POP Delivery Address Action Types",
      "description": ""
    },
    {
      "name": "POP Delivery Address Types",
      "description": ""
    },
    {
      "name": "POP Document Print Status Types",
      "description": ""
    },
    {
      "name": "POP Document Process Status Types",
      "description": ""
    },
    {
      "name": "POP Document Status Types",
      "description": ""
    },
    {
      "name": "POP Document Types",
      "description": ""
    },
    {
      "name": "POP Intrastat Status Types",
      "description": ""
    },
    {
      "name": "POP Invoice Credit Types",
      "description": ""
    },
    {
      "name": "POP Linked Order Lines",
      "description": ""
    },
    {
      "name": "POP Linked Requisition Lines",
      "description": ""
    },
    {
      "name": "POP Order Generation Types",
      "description": ""
    },
    {
      "name": "POP Order Line Views",
      "description": ""
    },
    {
      "name": "POP Order Lines",
      "description": ""
    },
    {
      "name": "POP Order Return Invoice Credit Views",
      "description": ""
    },
    {
      "name": "POP Order Return Line Invoice Credit Views",
      "description": ""
    },
    {
      "name": "POP Order Return Line Receipt Return Views",
      "description": ""
    },
    {
      "name": "POP Order Return Views",
      "description": ""
    },
    {
      "name": "POP Orders",
      "description": ""
    },
    {
      "name": "POP Orders Duplicate",
      "description": ""
    },
    {
      "name": "POP Requisition Fulfilment Line Views",
      "description": ""
    },
    {
      "name": "POP Requisition Fulfilment Lines",
      "description": ""
    },
    {
      "name": "POP Settings",
      "description": ""
    },
    {
      "name": "POP Trade Line Status Types",
      "description": ""
    }
  ],
  "paths": {
    "/pop_document_status_types": {
      "get": {
        "tags": [
          "POP Document Status Types"
        ],
        "summary": "POP Document Status Types",
        "description": "There are a variety of documents that are used within the Purchase Ledger, each with a different status type. These document status types are a pre-defined list, and are common across every instance of Sage 200. <br /><br />The API endpoint returns details of the document status types that can be used when reading/writing POP documents.",
        "operationId": "GetPOPDocumentStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the POP document status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_document_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP document status types"
    },
    "/pop_invoice_credit_types": {
      "get": {
        "tags": [
          "POP Invoice Credit Types"
        ],
        "summary": "POP Invoice Credit Types",
        "description": "There are a variety of documents that are used within the Purchase Ledger, each with a different type. These document types are a pre-defined list, and are common across every instance of Sage 200. <br /><br />The API endpoint returns details of the POP invoice credit types that can be used when reading POP invoice credit documents.",
        "operationId": "GetPOPInvoiceCreditTypes",
        "responses": {
          "200": {
            "description": "The details of the POP invoice credit types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_invoice_credit_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP invoice credit types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_generation_types": {
      "get": {
        "tags": [
          "POP Order Generation Types"
        ],
        "summary": "POP Order Generation Types",
        "description": "Purchase orders can be generated using Generate Purchase Orders, or if using Sage 200 Manufacturing, via MRP (Material Requirements Planning). <br /><br />The API endpoint returns details of the generation types which determine how a Purchase order can be generated.",
        "operationId": "GetPOPOrderGenerationTypes",
        "responses": {
          "200": {
            "description": "The details of the POP order generation types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_generation_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP order generation types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_authorisation_status_types": {
      "get": {
        "tags": [
          "POP Authorisation Status Types"
        ],
        "summary": "POP Authorisation Status Types",
        "description": "POP documents can be in one of a number of authorisation states. These authorisation state types are a pre-defined list, and are common across every instance of Sage 200. <br /><br />The API endpoint returns details of the authorisation status types that can be used when reading POP documents.",
        "operationId": "GetPOPAuthorisationStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the POP authorisation status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_authorisation_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP authorisation status types"
    },
    "/pop_document_print_status_types": {
      "get": {
        "tags": [
          "POP Document Print Status Types"
        ],
        "summary": "POP Document Print Status Types",
        "description": "POP documents can be in one of a number of printed states: Not Printed, Printed or Amended.",
        "operationId": "GetPOPDocumentPrintStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the POP document print status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_document_print_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP document print status types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_document_process_status_types": {
      "get": {
        "tags": [
          "POP Document Process Status Types"
        ],
        "summary": "POP Document Process Status Types",
        "description": "POP documents process statuses are used to give a high-level view of the progress of an order or return; the values are None, Part or Full.",
        "operationId": "GetPOPDocumentProcessStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the POP document process status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_document_process_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP document process status types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_document_types": {
      "get": {
        "tags": [
          "POP Document Types"
        ],
        "summary": "POP Document Types",
        "description": "POP document types are the types of documents available in POP; the values are Order or Return.",
        "operationId": "GetPOPDocumentTypes",
        "responses": {
          "200": {
            "description": "The details of the POP document types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_document_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP document types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_intrastat_status_types": {
      "get": {
        "tags": [
          "POP Intrastat Status Types"
        ],
        "summary": "POP Intrastat Types",
        "description": "POP intrastat status types are the intrastat statuses; the values are Not Required, Required, Completed, In Progress and Deleted.",
        "operationId": "GetPOPIntrastatStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the POP document types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_intrastat_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP intrastat types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_trade_line_status_types": {
      "get": {
        "tags": [
          "POP Trade Line Status Types"
        ],
        "summary": "Trade Line Status Types",
        "description": "The trade line status is used to determine the invoice/credit or despatch/receipt status of an order line. Values cam be 'None', 'Partially' or 'Fully'.",
        "operationId": "GetPOPTradeLineStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the trade line status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_trade_line_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Trade line status types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_additional_charges": {
      "get": {
        "tags": [
          "POP Additional Charges"
        ],
        "summary": "POP Additional Charges",
        "description": "Additional charges can be added to purchase orders to account for items such as delivery. Within the Sage 200 application, users can setup and maintain the list of additional charges that can be referenced when creating a purchase order.<br /><br />This API resource can be used to determine what each additional charge is for.",
        "operationId": "GetPOPAdditionalCharges",
        "responses": {
          "200": {
            "description": "The details of the POP additional charges have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_additional_charge"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP additional charges",
      "x-sage-changelog": [
        {
          "date": "14/12/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/pop_additional_charges/{Id}": {
      "get": {
        "tags": [
          "POP Additional Charges"
        ],
        "summary": "POP Additional Charge",
        "description": "Additional charges can be added to purchase orders to account for items such as delivery. Within the Sage 200 application, users can setup and maintain the list of additional charges that can be referenced when creating a purchase order.<br /><br />This API resource can be used to determine what each additional charges is for.",
        "operationId": "GetPOPAdditionalCharge",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP additional charge.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of POP additional charge successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_additional_charge"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP additional charge"
    },
    "/pop_delivery_address_types": {
      "get": {
        "tags": [
          "POP Delivery Address Types"
        ],
        "summary": "POP Delivery Address Types",
        "description": "The delivery address can be one of the following types: Customer, Supplier or Free Text.",
        "operationId": "GetPOPPDeliveryAddressTypes",
        "responses": {
          "200": {
            "description": "The details of the POP delivery address types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_delivery_address_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP Delivery Address types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_delivery_address_action_types": {
      "get": {
        "tags": [
          "POP Delivery Address Action Types"
        ],
        "summary": "POP Delivery Address Action Types",
        "description": "The delivery address actions can be one of the following types: NoAction, Ordinary, SetDefault, UseDefault or OverrideDefault.",
        "operationId": "GetPOPPDeliveryAddressActionTypes",
        "responses": {
          "200": {
            "description": "The details of the POP delivery address action types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_delivery_address_action_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP Delivery Address Action types",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_orders": {
      "get": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Orders",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "GetPOPOrders",
        "responses": {
          "200": {
            "description": "The details of the purchase orders have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Orders",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "PostPOPOrder",
        "requestBody": {
          "description": "Purchase order to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase order was created. Response body will include the purchase order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "pop_order"
      },
      "x-sage-pathtitle": "Purchase orders",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Extended operations",
          "description": "This endpoint was enhanced with PUT by id and DELETE operations."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'is_draft', 'lock_id', 'is_editing', 'is_credit_limit_exceeded', 'is_to_sequence_lines', 'receipt_return_status', 'invoice_credit_status', 'cancelled_status', 'disputed_status', 'print_status', 'authorisation_status_description', 'default_direct_delivery_address' and 'memos'."
        }
      ]
    },
    "/pop_orders/{Id}": {
      "get": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Order",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "GetPOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of purchase order successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Order",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.<br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted.",
        "operationId": "PutPOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Purchase order to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase order was updated. Response body will include the purchase order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "POPOrder"
      },
      "delete": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Order",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "DeletePOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase order"
    },
    "/pop_orders_new": {
      "post": {
        "tags": [
          "POP Orders"
        ],
        "summary": "New Purchase Order With Defaults",
        "description": "Returns a purchase order with all the default values for a supplier. The API endpoint does not persist the purchase order.",
        "operationId": "PostPOPOrdersNew",
        "requestBody": {
          "description": "A supplier request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pop_orders_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase order with defaults was successfully returned. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "POPOrderNew"
      },
      "x-sage-pathtitle": "New purchase order with defaults",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_orders_new/{Id}": {
      "put": {
        "tags": [
          "POP Orders"
        ],
        "summary": "New Purchase Order With Defaults",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "PutPOPOrderNew",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Purchase order to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase order was updated. Response body will include the purchase order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "POPOrder"
      },
      "x-sage-pathtitle": "New purchase order with defaults"
    },
    "/pop_orders_duplicate": {
      "post": {
        "tags": [
          "POP Orders Duplicate"
        ],
        "summary": "Duplicate Purchase Order.",
        "description": "Returns a duplicate purchase order using the purchase order options specified.<p>This API endpoint creates a draft purchase order which needs to be either:<ul><li>confirmed as a live order by using the PUT pop_orders endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE pop_orders endpoint</li></ul></p>",
        "operationId": "PostPOPOrdersDuplicate",
        "requestBody": {
          "description": "The options to duplicate the purchase order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pop_order_duplicate_flags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The duplicate purchase order was successfully returned. Response body will include the purchase order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "POPOrderDuplicateFlags"
      },
      "x-sage-pathtitle": "Duplicate purchase order.",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_lines/{Id}": {
      "get": {
        "tags": [
          "POP Order Lines"
        ],
        "summary": "Purchase Order Line",
        "description": "All purchase orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetPOPOrderLine",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP order line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of purchase order line successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_order_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase order line",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'create_cancelled_line', 'remove_link_to_sop_order_line', 'use_description', 'update_prices_at_goods_receipt', 'nominal_reference', 'nominal_cost_centre', 'nominal_department', 'stock_unit_receipt_return_quantity', 'stock_unit_invoice_credit_quantity', 'stock_unit_on_order_quantity', 'line_unit_precision', 'buying_unit_id', 'discount_percent_specified', 'discounted_unit_price', 'pricing_unit_id', 'pricing_unit_description', 'pricing_unit_multiple', 'stock_unit_multiple', 'stock_unit_precision', 'stock_unit_line_quantity', 'landed_costs_type', 'landed_costs_percentage', 'landed_costs_per_item', 'total_landed_costs_value', 'receipt_return_status', 'invoice_credit_status', 'is_complete', 'is_line_deletable', 'has_linked_order_lines', 'has_requisition_lines', 'buying_unit', 'nominal_code', 'pricing_unit', 'additional_charge', 'direct_delivery_address', 'requisition_lines_comment', 'cancel_requisition_lines', 'linked_requisition_lines', 'linked_order_lines', 'warehouse', 'requested_delivery_dates' and 'is_to_delete'."
        }
      ]
    },
    "/pop_orders/{popOrderId}/pop_order_lines": {
      "get": {
        "tags": [
          "POP Order Lines"
        ],
        "summary": "Purchase Order Lines",
        "description": "Returns all lines for the given POP order.",
        "operationId": "GetPOPOrderLines",
        "parameters": [
          {
            "name": "popOrderId",
            "in": "path",
            "description": "Unique Id of the POP order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of purchase order lines successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase order lines"
    },
    "/pop_order_lines/{lineId}/pop_linked_order_lines": {
      "get": {
        "tags": [
          "POP Linked Order Lines"
        ],
        "summary": "POP Linked Order Lines For A Single POP Order Line.",
        "description": "Returns the linked order lines for a single POP line.",
        "operationId": "GetPOPLinkedOrderLinesForPOPLine",
        "parameters": [
          {
            "name": "lineId",
            "in": "path",
            "description": "Unique Id of the POP order line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of linked order lines has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_linked_order_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP linked order lines for a single POP order line.",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_lines/{lineId}/pop_linked_requisition_lines": {
      "get": {
        "tags": [
          "POP Linked Requisition Lines"
        ],
        "summary": "POP Linked Requisition Lines For A Single POP Order Line.",
        "description": "Returns the linked requisition lines for a single POP line.",
        "operationId": "GetPOPLinkedRequisitionLinesForPOPLine",
        "parameters": [
          {
            "name": "lineId",
            "in": "path",
            "description": "Unique Id of the POP order line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of linked requisition lines has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_linked_requisition_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP linked requisition lines for a single POP order line.",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_cancelled_lines": {
      "get": {
        "tags": [
          "POP Cancelled Lines"
        ],
        "summary": "Cancelled Lines For Purchase Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in POP Settings).",
        "operationId": "GetPOPCancelledLines",
        "responses": {
          "200": {
            "description": "The list of the POP cancelled lines has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_cancelled_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Cancelled lines for purchase orders and returns.",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_cancelled_lines/{Id}": {
      "get": {
        "tags": [
          "POP Cancelled Lines"
        ],
        "summary": "Cancelled Line For Purchase Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in POP Settings).",
        "operationId": "GetPOPCancelledLine",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The purchase order return cancelled line Id.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the POP cancelled lines have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_cancelled_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Cancelled line for purchase orders and returns."
    },
    "/pop_order_return_invoice_credit_views": {
      "get": {
        "tags": [
          "POP Order Return Invoice Credit Views"
        ],
        "summary": "POP Order Return Invoice Credit Views",
        "description": "This resource returns a view of purchase orders and returns and invoices and credit notes.",
        "operationId": "GetPOPOrderReturnInvoiceCreditViews",
        "responses": {
          "200": {
            "description": "The list of POP orders has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_return_invoice_credit_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP Order Return Invoice Credit views",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_return_line_invoice_credit_views": {
      "get": {
        "tags": [
          "POP Order Return Line Invoice Credit Views"
        ],
        "summary": "Purchase Order Return Line Invoice Credit Views",
        "description": "Returns the collection of purchase orders and returns and invoices and credit notes for a line.",
        "operationId": "GetPOPOrderReturnLineInvoiceViews",
        "responses": {
          "200": {
            "description": "The list of purchase order return line invoice credit views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_return_line_invoice_credit_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase Order Return Line Invoice Credit Views",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_return_line_receipt_return_views": {
      "get": {
        "tags": [
          "POP Order Return Line Receipt Return Views"
        ],
        "summary": "Purchase Order Return Line Receipt Return Views",
        "description": "Returns the collection of purchase orders and receipts and returns for a line.",
        "operationId": "GetPOPOrderReturnLineReceiptReturnViews",
        "responses": {
          "200": {
            "description": "The list of purchase order line receipt return views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_return_line_receipt_return_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase Order Return Line Receipt Return Views",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_return_views": {
      "get": {
        "tags": [
          "POP Order Return Views"
        ],
        "summary": "POP Order Return Views",
        "description": "\"This resource returns the details of all POP documents (orders and returns). The default sort (orderby) fields are by 'document_no' and 'Id' ascending.\"",
        "operationId": "GetPOPOrderReturnViews",
        "responses": {
          "200": {
            "description": "The list of POP orders has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_return_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP Order Return views",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_order_line_views": {
      "get": {
        "tags": [
          "POP Order Line Views"
        ],
        "summary": "POP Order Line Views",
        "description": "This resource returns a view of related purchase orders, purchase order lines, suppliers, products, warehouses, tax codes currencies that can be queried on any field. The default sort (orderby) field are by 'pop_order_id' and 'pop_order_line_id' descending.",
        "operationId": "GetPOPOrderLineViews",
        "responses": {
          "200": {
            "description": "The details of the POP order line views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order_line_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP Order Line Views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/pop_requisition_fulfilment_line_views": {
      "get": {
        "tags": [
          "POP Requisition Fulfilment Line Views"
        ],
        "summary": "POP Requisition Fulfilment Line Views",
        "description": "This resource returns a view of requisitions, lines and its fulfilments linked to a purchase order line. The default sort (orderby) field is by 'pop_requisition_document_no' ascending.",
        "operationId": "GetPOPRequisitionFulfilmentLineViews",
        "responses": {
          "200": {
            "description": "The details of the POP requisition fulfilment line views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_requisition_fulfilment_line_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP requisition fulfilment line views",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_settings": {
      "get": {
        "tags": [
          "POP Settings"
        ],
        "summary": "POP Settings",
        "description": "The POP Settings are used to choose how to process and manage your Purchase Order Processing.",
        "operationId": "GetPOPSettings",
        "responses": {
          "200": {
            "description": "Details of POP settings successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_settings"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP settings",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'show_quantity_goods_received', 'amend_analysis_codes', 'amend_nominal_codes', 'user_logon_as_order_taker', 'stock_nominal_account_same_as', 'use_same_cost_centre_and_department_as_supplier', 'variances_nominal_account_reference', 'variances_nominal_cost_centre', 'variances_nominal_department', 'analyse_postings_by_cost_centre_and_department', 'match_invoice_credit_to_order_return_only', 'use_disputed_invoicing', 'record_cancelled_order_lines', 'auto_print_copy_orders', 'generate_intrastat_entries', 'terms_of_delivery_type', 'nature_of_transaction_code_id', 'allow_manual_direct_delivery', 'allow_direct_delivery_to_customer', 'allow_direct_delivery_to_supplier', 'allow_direct_delivery_to_any_address', 'price_difference_nominal_code_id', 'update_price_on_goods_receipt', 'applicable_order_lines_exist', 'prices_set_at_goods_receipt', 'use_order_exchange_rate_for_prices', 'pop_order_generation_type', 'use_single_purchase_order_for_direct_delivery', 'include_terms_of_delivery_on_intrastat', 'include_statistical_value_on_intrastat', 'mode_of_transport_id', 'intrastat_date_type', 'include_text_in_accruals', 'include_service_labour_in_accruals', 'include_back_to_back_in_order_generation', 'allow_unauthorised_order_processing', 'default_free_text_confirm_intent_type', 'default_service_labour_confirm_intent_type', 'amend_header_analysis_codes', 'exclude_direct_delivery_for_customer', 'exclude_via_stock_for_customer', 'exclude_direct_delivery_for_order', 'exclude_via_stock_for_order', 'committed_includes_goods_received', 'check_budgets_on_authorise', 'requisition_mandatory_nominal_codes', 'requisition_nominals_in_budget', 'requisition_mandatory_supplier', 'requisition_authoriser_amend' and 'price_difference_nominal_code'."
        }
      ]
    },
    "/pop_settings/{Id}": {
      "get": {
        "tags": [
          "POP Settings"
        ],
        "summary": "POP Setting",
        "description": "The POP Settings are used to choose how to process and manage your Purchase Order Processing.",
        "operationId": "GetPOPSetting",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP settings.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of POP settings successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_settings"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP setting"
    },
    "/pop_requisition_fulfilment_lines": {
      "get": {
        "tags": [
          "POP Requisition Fulfilment Lines"
        ],
        "summary": "POP Requisition Fulfilment Lines",
        "description": "Purchase requisition fulfilment lines hold the details of how a requisition line is fulfilled.",
        "operationId": "GetPOPRequisitionFulfilmentLines",
        "responses": {
          "200": {
            "description": "The details of the POP requisition line views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_requisition_fulfilment_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP requisition fulfilment lines",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/pop_requisition_fulfilment_lines/{Id}": {
      "get": {
        "tags": [
          "POP Requisition Fulfilment Lines"
        ],
        "summary": "POP Requisition Fulfilment Line",
        "description": "Purchase requisition fulfilment lines hold the details of how a requisition line is fulfilled.",
        "operationId": "GetPOPRequisitionFulfilmentLine",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the POP requisition fulfilment line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the POP requisition fulfilment lines have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pop_requisition_fulfilment_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "POP requisition fulfilment line"
    },
    "/suppliers/{supplierId}/pop_orders": {
      "get": {
        "tags": [
          "POP Orders"
        ],
        "summary": "Purchase Orders For A Supplier",
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.",
        "operationId": "GetPOPOrdersForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the purchase orders have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase orders for a supplier"
    },
    "/lookup_pop_orders": {
      "get": {
        "tags": [
          "Lookup POP Orders"
        ],
        "summary": "Lookup Purchase Orders",
        "description": "Gets a subset of purchase order information for populating a lookup.",
        "operationId": "GetLookupPOPOrders",
        "responses": {
          "200": {
            "description": "Get a collection of purchase orders for populating a lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/lookup_pop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Lookup Purchase Orders",
      "x-sage-changelog": [
        {
          "date": "05/02/2024",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "pop_order": {
        "required": [
          "supplier_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Purchase order record Id.",
            "format": "int64",
            "readOnly": true
          },
          "is_draft": {
            "type": "boolean",
            "description": "Whether it is a draft order.",
            "readOnly": true
          },
          "lock_id": {
            "type": "integer",
            "description": "The lock Id of the purchase order when passing the 'is_to_lock' expand to the GET operation. This should be passed back within the PUT operation and 'is_editing' is false to remove the lock against the purchase order.",
            "format": "int64",
            "readOnly": true
          },
          "is_editing": {
            "type": "boolean",
            "description": "If this is set to true, and the order is still a draft order, the order will remain as a draft order, otherwise the order is made a confirmed order."
          },
          "is_credit_limit_exceeded": {
            "type": "boolean",
            "description": "This is true if the supplier's credit limit is exceeded, otherwise it is false.",
            "readOnly": true
          },
          "is_to_sequence_lines": {
            "type": "boolean",
            "description": "If this is set to true, then the order of the line objects in the lines collection will determine the line number (print sequence number) for each line."
          },
          "document_no": {
            "maxLength": 20,
            "type": "string",
            "description": "Purchase order document number. <br /><br />Note: If the POP setting in Sage 200 Professional is to NOT automatically generate numbers, then this property MUST be set. <br />If the POP setting in Sage 200 Professional is to automatically generate numbers, or you are using Sage 200 Standard (which doesn't allow you to set this option), then setting this on POST will be ignored."
          },
          "document_date": {
            "type": "string",
            "description": "Purchase order document date.",
            "format": "date-time"
          },
          "document_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Document status.",
            "readOnly": true
          },
          "receipt_return_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Receipt/return status.",
            "readOnly": true
          },
          "invoice_credit_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Invoice/credit status.",
            "readOnly": true
          },
          "cancelled_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Cancelled status.",
            "readOnly": true
          },
          "disputed_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Disputed status.",
            "readOnly": true
          },
          "print_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Print status.",
            "readOnly": true
          },
          "authorisation_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Authorisation status.",
            "readOnly": true
          },
          "authorisation_status_description": {
            "maxLength": 20,
            "type": "string",
            "description": "Authorisation status description.",
            "readOnly": true
          },
          "supplier_id": {
            "type": "integer",
            "description": "Supplier record Id.",
            "format": "int64"
          },
          "exchange_rate": {
            "type": "number",
            "description": "Exchange rate.",
            "format": "decimal 6dp"
          },
          "subtotal_goods_value": {
            "type": "number",
            "description": "Goods value (sum of stock items and free text).",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "subtotal_charges_net_value": {
            "type": "number",
            "description": "Charges net value.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "subtotal_discount_value": {
            "type": "number",
            "description": "Discount value.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "subtotal_landed_costs_value": {
            "type": "number",
            "description": "Landed costs value.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "total_net_value": {
            "type": "number",
            "description": "Net value (sum of all line types).",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "total_tax_value": {
            "type": "number",
            "description": "Tax value.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "total_gross_value": {
            "type": "number",
            "description": "Gross value.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "supplier_document_no": {
            "maxLength": 30,
            "type": "string",
            "description": "Supplier document number."
          },
          "settlement_discount_days": {
            "type": "integer",
            "description": "Settlement discount days.",
            "format": "int16"
          },
          "settlement_discount_percent": {
            "type": "number",
            "description": "Settlement discount percent.",
            "format": "decimal 2dp"
          },
          "document_discount_percent": {
            "type": "number",
            "description": "Document discount percent.",
            "format": "decimal 2dp"
          },
          "document_originator_id": {
            "type": "number",
            "description": "Document originator Id.",
            "format": "int64"
          },
          "document_originator_name": {
            "maxLength": 30,
            "type": "string",
            "description": "Document originator name.",
            "readOnly": true
          },
          "document_created_by_id": {
            "type": "number",
            "description": "Document created by Id.",
            "format": "int64",
            "readOnly": true
          },
          "document_created_by": {
            "maxLength": 30,
            "type": "string",
            "description": "Document created by.",
            "readOnly": true
          },
          "requested_delivery_date": {
            "type": "string",
            "description": "Requested delivery date.",
            "format": "date-time"
          },
          "analysis_code_1": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 1."
          },
          "analysis_code_2": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 2."
          },
          "analysis_code_3": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 3."
          },
          "analysis_code_4": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 4."
          },
          "analysis_code_5": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 5."
          },
          "analysis_code_6": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 6."
          },
          "analysis_code_7": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 7."
          },
          "analysis_code_8": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 8."
          },
          "analysis_code_9": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 9."
          },
          "analysis_code_10": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 10."
          },
          "analysis_code_11": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 11."
          },
          "analysis_code_12": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 12."
          },
          "analysis_code_13": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 13."
          },
          "analysis_code_14": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 14."
          },
          "analysis_code_15": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 15."
          },
          "analysis_code_16": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 16."
          },
          "analysis_code_17": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 17."
          },
          "analysis_code_18": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 18."
          },
          "analysis_code_19": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 19."
          },
          "analysis_code_20": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 20."
          },
          "spare_text_1": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 1."
          },
          "spare_text_2": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 2."
          },
          "spare_text_3": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 3."
          },
          "spare_text_4": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 4."
          },
          "spare_text_5": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 5."
          },
          "spare_text_6": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 6."
          },
          "spare_text_7": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 7."
          },
          "spare_text_8": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 8."
          },
          "spare_text_9": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 9."
          },
          "spare_text_10": {
            "maxLength": 100,
            "type": "string",
            "description": "Spare text 10."
          },
          "spare_number_1": {
            "type": "number",
            "description": "Spare number 1.",
            "format": "decimal 5dp"
          },
          "spare_number_2": {
            "type": "number",
            "description": "Spare number 2.",
            "format": "decimal 5dp"
          },
          "spare_number_3": {
            "type": "number",
            "description": "Spare number 3.",
            "format": "decimal 5dp"
          },
          "spare_number_4": {
            "type": "number",
            "description": "Spare number 4.",
            "format": "decimal 5dp"
          },
          "spare_number_5": {
            "type": "number",
            "description": "Spare number 5.",
            "format": "decimal 5dp"
          },
          "spare_number_6": {
            "type": "number",
            "description": "Spare number 6.",
            "format": "decimal 5dp"
          },
          "spare_number_7": {
            "type": "number",
            "description": "Spare number 7.",
            "format": "decimal 5dp"
          },
          "spare_number_8": {
            "type": "number",
            "description": "Spare number 8.",
            "format": "decimal 5dp"
          },
          "spare_number_9": {
            "type": "number",
            "description": "Spare number 9.",
            "format": "decimal 5dp"
          },
          "spare_number_10": {
            "type": "number",
            "description": "Spare number 10.",
            "format": "decimal 5dp"
          },
          "spare_date_1": {
            "type": "string",
            "description": "Spare date 1 (UTC).",
            "format": "date-time"
          },
          "spare_date_2": {
            "type": "string",
            "description": "Spare date 2 (UTC).",
            "format": "date-time"
          },
          "spare_date_3": {
            "type": "string",
            "description": "Spare date 3 (UTC).",
            "format": "date-time"
          },
          "spare_date_4": {
            "type": "string",
            "description": "Spare date 4 (UTC).",
            "format": "date-time"
          },
          "spare_date_5": {
            "type": "string",
            "description": "Spare date 5 (UTC).",
            "format": "date-time"
          },
          "spare_bool_1": {
            "type": "boolean",
            "description": "Spare bool 1.",
            "default": false
          },
          "spare_bool_2": {
            "type": "boolean",
            "description": "Spare bool 2.",
            "default": false
          },
          "spare_bool_3": {
            "type": "boolean",
            "description": "Spare bool 3.",
            "default": false
          },
          "spare_bool_4": {
            "type": "boolean",
            "description": "Spare bool 4.",
            "default": false
          },
          "spare_bool_5": {
            "type": "boolean",
            "description": "Spare bool 5.",
            "default": false
          },
          "default_direct_delivery_address": {
            "$ref": "#/components/schemas/pop_order_line_direct_delivery_address"
          },
          "delivery_address": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Delivery address record Id.",
                "format": "int64",
                "readOnly": true
              },
              "postal_name": {
                "maxLength": 60,
                "type": "string",
                "description": "Postal name."
              },
              "address_1": {
                "maxLength": 60,
                "type": "string",
                "description": "Address line 1."
              },
              "address_2": {
                "maxLength": 60,
                "type": "string",
                "description": "Address line 2."
              },
              "address_3": {
                "maxLength": 60,
                "type": "string",
                "description": "Address line 3."
              },
              "address_4": {
                "maxLength": 60,
                "type": "string",
                "description": "Address line 4."
              },
              "city": {
                "maxLength": 60,
                "type": "string",
                "description": "City."
              },
              "county": {
                "maxLength": 60,
                "type": "string",
                "description": "County."
              },
              "country": {
                "maxLength": 60,
                "type": "string",
                "description": "Country."
              },
              "postcode": {
                "maxLength": 10,
                "type": "string",
                "description": "Postcode."
              },
              "contact": {
                "maxLength": 235,
                "type": "string",
                "description": "Address contact."
              },
              "telephone_number": {
                "maxLength": 30,
                "type": "string",
                "description": "Telephone number."
              },
              "fax_number": {
                "maxLength": 30,
                "type": "string",
                "description": "Fax number."
              },
              "email_address": {
                "maxLength": 255,
                "type": "string",
                "description": "Email address."
              },
              "country_code_id": {
                "type": "integer",
                "description": "Country code Id",
                "format": "int64"
              },
              "tax_number": {
                "maxLength": 30,
                "type": "string",
                "description": "VAT number."
              },
              "tax_code_id": {
                "type": "integer",
                "description": "Tax code Id",
                "format": "int64"
              },
              "country_code": {
                "type": "object",
                "properties": {},
                "description": "Country code"
              },
              "tax_code": {
                "type": "object",
                "properties": {},
                "description": "Tax code"
              },
              "date_time_created": {
                "type": "string",
                "description": "The date and time this entity was created (UTC).",
                "format": "date-time",
                "readOnly": true
              },
              "date_time_updated": {
                "type": "string",
                "description": "The date and time this entity was last updated (UTC).",
                "format": "date-time"
              }
            },
            "description": "The delivery address."
          },
          "supplier": {
            "type": "object",
            "properties": {},
            "description": "Supplier associated with the order.",
            "readOnly": true
          },
          "lines": {
            "type": "array",
            "description": "The purchase order lines collection.",
            "items": {
              "$ref": "#/components/schemas/pop_order_line"
            }
          },
          "memos": {
            "type": "array",
            "description": "Memos are sections of text that can be used to make comments about a purchase order.<br/><br/>Multiple memos can be added to each purchase order. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
            "items": {
              "$ref": "#/components/schemas/pop_order_memo"
            }
          },
          "date_time_created": {
            "type": "string",
            "description": "The date and time this entity was created (UTC).",
            "format": "date-time",
            "readOnly": true
          },
          "date_time_updated": {
            "type": "string",
            "description": "The date and time this entity was last updated (UTC).",
            "format": "date-time",
            "readOnly": true
          }
        },
        "description": "Purchase orders are used to represent the purchase of goods or services from a supplier. They are central to a business and define the terms (price, quantity and times) by which the products or services will be received.<br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted."
      },
      "pop_order_memo": {
        "required": [
          "pop_order_return_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Purchase order memo record Id.",
            "format": "int64",
            "readOnly": true
          },
          "pop_order_return_id": {
            "type": "integer",
            "description": "Purchase order record Id.",
            "format": "int64"
          },
          "is_active": {
            "type": "boolean",
            "description": "True if memo status is active, false if it is inactive."
          },
          "note": {
            "maxLength": 1000,
            "type": "string",
            "description": "The memo text."
          },
          "is_to_delete": {
            "type": "boolean",
            "description": "When updating an existing purchase order, whether to delete this memo from the collection of purchase order memos."
          },
          "created_by": {
            "maxLength": 20,
            "type": "string",
            "description": "The user that created the memo.",
            "readOnly": true
          },
          "date_time_created": {
            "type": "string",
            "description": "The date and time this entity was created (UTC).",
            "format": "date-time",
            "readOnly": true
          },
          "date_time_updated": {
            "type": "string",
            "description": "The date and time this entity was last updated (UTC).",
            "format": "date-time",
            "readOnly": true
          }
        },
        "description": "Memos are sections of text that can be used to make comments about a purchase order.<br/><br/>Multiple memos can be added to each purchase order. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them."
      },
      "pop_order_duplicate_flags": {
        "required": [
          "source_id",
          "supplier_id"
        ],
        "type": "object",
        "properties": {
          "source_id": {
            "type": "integer",
            "description": "Purchase order unique Id.",
            "format": "int64"
          },
          "supplier_id": {
            "type": "integer",
            "description": "Supplier unique Id.",
            "format": "int64"
          },
          "prices_and_discounts": {
            "type": "boolean",
            "description": "Indicates whether to duplicate prices and discounts for the purchase order."
          }
        },
        "description": "Returns a duplicate purchase order using the purchase order options specified.<p>This API endpoint creates a draft purchase order which needs to be either:<ul><li>confirmed as a live order by using the PUT pop_orders endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE pop_orders endpoint</li></ul></p>"
      },
      "pop_orders_new_request": {
        "required": [
          "supplier_id"
        ],
        "type": "object",
        "properties": {
          "supplier_id": {
            "type": "integer",
            "description": "Supplier record Id.",
            "format": "int64"
          }
        },
        "description": "Returns a purchase order with all the default values for a supplier. The API endpoint does not persist the purchase order."
      },
      "lookup_pop_order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Purchase order record Id.",
            "format": "int64"
          },
          "document_no": {
            "maxLength": 20,
            "type": "string",
            "description": "Purchase order document number."
          },
          "supplier_id": {
            "type": "integer",
            "description": "Purchase order supplier record Id.",
            "format": "int64"
          },
          "supplier_document_no": {
            "maxLength": 50,
            "type": "string",
            "description": "Purchase order supplier document number."
          },
          "document_status_id": {
            "type": "integer",
            "description": "Purchase order document status record Id.",
            "format": "int64"
          }
        },
        "description": "A subset of purchase order information for populating a lookup."
      },
      "pop_order_line": {
        "required": [
          "code",
          "description",
          "line_quantity",
          "line_type",
          "product_id",
          "warehouse_id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Purchase order line record Id.",
            "format": "int64",
            "readOnly": true
          },
          "pop_order_id": {
            "type": "integer",
            "description": "Purchase order record Id.",
            "format": "int64",
            "readOnly": true
          },
          "line_number": {
            "type": "integer",
            "description": "The line number.",
            "format": "int16",
            "readOnly": true
          },
          "line_type": {
            "maxLength": 20,
            "type": "string",
            "description": "The purchase order line type."
          },
          "product_id": {
            "type": "integer",
            "description": "Product record Id.",
            "format": "int64"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "Warehouse record Id.",
            "format": "int64"
          },
          "create_cancelled_line": {
            "type": "boolean",
            "description": "If this is set to true, whether a cancelled line is to be created."
          },
          "remove_link_to_sop_order_line": {
            "type": "boolean",
            "description": "If this is set to true, whether a linked sales order line is to be removed."
          },
          "code": {
            "maxLength": 30,
            "type": "string",
            "description": "The stock item code. In case of an additional charge, this can only be set for lines of type EnumLineTypeCharge and is required if description is not specified."
          },
          "description": {
            "maxLength": 6000,
            "type": "string",
            "description": "The item description. This could be stock item description, free text, additional charge or comment. Required for lines of type EnumLineTypeFreeText and EnumLineTypeComment and is required for lines of type EnumLineTypeCharge if code is not specified."
          },
          "use_description": {
            "type": "boolean",
            "description": "Whether to assign the description to the line, transferred from stock item if stock item specified. For lines of type EnumLineTypeFreeText and EnumLineTypeComment this will always be true."
          },
          "supplier_part_ref": {
            "maxLength": 60,
            "type": "string",
            "description": "The supplier's part reference."
          },
          "for_direct_delivery": {
            "type": "boolean",
            "description": "Specifies if line is flagged for direct delivery."
          },
          "show_on_supplier_docs": {
            "type": "boolean",
            "description": "Specifies if line will show on Supplier documents."
          },
          "update_prices_at_goods_receipt": {
            "type": "boolean",
            "description": "Specifies if stock item prices are updated when the goods are recieved."
          },
          "confirmation_intent_type": {
            "maxLength": 50,
            "type": "string",
            "description": "The type of confirmation intent associated with the line."
          },
          "tax_code_id": {
            "type": "integer",
            "description": "Tax code Id.",
            "format": "int64"
          },
          "nominal_reference": {
            "maxLength": 8,
            "type": "string",
            "description": "The nominal reference. Can only be set for lines of type EnumLineTypeStandard, EnumLineTypeFreeText and EnumLineTypeCharge."
          },
          "nominal_cost_centre": {
            "maxLength": 3,
            "type": "string",
            "description": "The nominal cost centre. Can only be set for lines of type EnumLineTypeStandard, EnumLineTypeFreeText and EnumLineTypeCharge."
          },
          "nominal_department": {
            "maxLength": 3,
            "type": "string",
            "description": "The nominal department. Can only be set for lines of type EnumLineTypeStandard, EnumLineTypeFreeText and EnumLineTypeCharge."
          },
          "line_quantity": {
            "type": "number",
            "description": "Item quantity.Note: Decimals cannot be used as quantity values for traceable items that use serial numbers. These will be rounded up/down at the time of posting via the API.",
            "format": "decimal 5dp"
          },
          "receipt_return_quantity": {
            "type": "number",
            "description": "Receipt quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "invoice_credit_quantity": {
            "type": "number",
            "description": "Invoiced quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "stock_unit_receipt_return_quantity": {
            "type": "number",
            "description": "Stock unit received quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "stock_unit_invoice_credit_quantity": {
            "type": "number",
            "description": "Stock unit invoiced quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "stock_unit_on_order_quantity": {
            "type": "number",
            "description": "Stock unit on order quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "line_unit_precision": {
            "type": "number",
            "description": "The line unit precision.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "buying_unit_id": {
            "type": "integer",
            "description": "The buying unit record Id. Can only be set for lines of type EnumLineTypeStandard and product of type EnumStockItemTypeStock.",
            "format": "int64"
          },
          "buying_unit_description": {
            "maxLength": 20,
            "type": "string",
            "description": "Buying unit description. Can only be set for lines of type EnumLineTypeFreeText."
          },
          "unit_buying_price": {
            "type": "number",
            "description": "Unit buying price.",
            "format": "decimal 5dp"
          },
          "unit_discount_percent": {
            "type": "number",
            "description": "Unit discount percent.",
            "format": "decimal 2dp"
          },
          "discount_percent_specified": {
            "type": "boolean",
            "description": "Whether the discount has been specified as a percentage. Can only be set for lines of type EnumLineTypeStandard or EnumLineTypeFreeText."
          },
          "unit_discount_value": {
            "type": "number",
            "description": "Unit discount value.",
            "format": "decimal 5dp"
          },
          "discounted_unit_price": {
            "type": "number",
            "description": "The discounted unit price of the line. <br /><br />This is calculated by subtracting the unit_discount_value from the unit_buying_price.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "pricing_unit_id": {
            "type": "integer",
            "description": "The pricing unit record Id. Can only be set for lines of type EnumLineTypeStandard and product of type EnumStockItemTypeStock.",
            "format": "int64"
          },
          "pricing_unit_description": {
            "maxLength": 20,
            "type": "string",
            "description": "The pricing unit description. Can only be set for lines of type EnumLineTypeStandard where the product type is not EnumStockItemTypeStock."
          },
          "pricing_unit_multiple": {
            "type": "number",
            "description": "The pricing unit ratio to the base unit.",
            "format": "decimal 7dp",
            "readOnly": true
          },
          "stock_unit_multiple": {
            "type": "number",
            "description": "The stock unit ratio to the base unit.",
            "format": "decimal 7dp",
            "readOnly": true
          },
          "stock_unit_precision": {
            "type": "number",
            "description": "The line unit precision.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "stock_unit_line_quantity": {
            "type": "number",
            "description": "Stock unit line quantity.",
            "format": "decimal 5dp",
            "readOnly": true
          },
          "line_total_value": {
            "type": "number",
            "description": "The total value of the line.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "line_tax_value": {
            "type": "number",
            "description": "The tax value of the line.",
            "format": "decimal 2dp",
            "readOnly": true
          },
          "landed_costs_type": {
            "maxLength": 20,
            "type": "string",
            "description": "The landed costs type of the line."
          },
          "landed_costs_percentage": {
            "type": "number",
            "description": "The percentage of the item's cost which is landed costs (if the landed costs type is Percentage Based).",
            "format": "decimal 2dp"
          },
          "landed_costs_per_item": {
            "type": "number",
            "description": "The amount of the item's cost which is landed costs (if the landed costs type is Value Based).",
            "format": "decimal 2dp"
          },
          "total_landed_costs_value": {
            "type": "number",
            "description": "The total amount of landed costs applied to the line.",
            "format": "decimal 2dp"
          },
          "receipt_return_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Receipt/return status.",
            "readOnly": true
          },
          "invoice_credit_status": {
            "maxLength": 20,
            "type": "string",
            "description": "Invoice/credit status.",
            "readOnly": true
          },
          "is_complete": {
            "type": "boolean",
            "description": "Whether the line has been fully received and invoiced.",
            "readOnly": true
          },
          "is_line_deletable": {
            "type": "boolean",
            "description": "True if you can delete line, otherwise false.",
            "readOnly": true
          },
          "has_linked_order_lines": {
            "type": "boolean",
            "description": "Whether the line is linked to any sales order lines. Use custom expand pop_status to include in the response.",
            "readOnly": true
          },
          "has_requisition_lines": {
            "type": "boolean",
            "description": "Whether the line has requisition lines associated with it. Use custom expand pop_status to include in the response.",
            "readOnly": true
          },
          "analysis_code_1": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 1."
          },
          "analysis_code_2": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 2."
          },
          "analysis_code_3": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 3."
          },
          "analysis_code_4": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 4."
          },
          "analysis_code_5": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 5."
          },
          "analysis_code_6": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 6."
          },
          "analysis_code_7": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 7."
          },
          "analysis_code_8": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 8."
          },
          "analysis_code_9": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 9."
          },
          "analysis_code_10": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 10."
          },
          "analysis_code_11": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 11."
          },
          "analysis_code_12": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 12."
          },
          "analysis_code_13": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 13."
          },
          "analysis_code_14": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 14."
          },
          "analysis_code_15": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 15."
          },
          "analysis_code_16": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 16."
          },
          "analysis_code_17": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 17."
          },
          "analysis_code_18": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 18."
          },
          "analysis_code_19": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 19."
          },
          "analysis_code_20": {
            "maxLength": 60,
            "type": "string",
            "description": "Analysis code 20."
          },
          "buying_unit": {
            "type": "object",
            "properties": {},
            "description": "The buying unit.",
            "readOnly": true
          },
          "nominal_code": {
            "type": "object",
            "properties": {},
            "description": "The purchase order line nominal code. Is only applicable for lines of type EnumLineTypeStandard, EnumLineTypeFreeText and EnumLineTypeCharge.",
            "readOnly": true
          },
          "pop_order": {
            "type": "object",
            "properties": {},
            "description": "The purchase order that the line relates to.",
            "readOnly": true
          },
          "pricing_unit": {
            "type": "object",
[...]
