{
  "openapi": "3.0.1",
  "info": {
    "title": "Sage 200 v1 Extra Purchases",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.columbus.sage.com/uk/sage200extra/accounts/v1/"
    }
  ],
  "tags": [
    {
      "name": "Authorisation Types",
      "description": ""
    },
    {
      "name": "Factor Houses",
      "description": ""
    },
    {
      "name": "Lookup Suppliers",
      "description": ""
    },
    {
      "name": "Payment Groups",
      "description": ""
    },
    {
      "name": "Payment Types",
      "description": ""
    },
    {
      "name": "Purchase Aged Creditor Detailed Views",
      "description": ""
    },
    {
      "name": "Purchase Aged Creditor Summary Views",
      "description": ""
    },
    {
      "name": "Purchase Authorisations",
      "description": ""
    },
    {
      "name": "Purchase Credit Notes",
      "description": ""
    },
    {
      "name": "Purchase Invoices",
      "description": ""
    },
    {
      "name": "Purchase Ledger Settings",
      "description": ""
    },
    {
      "name": "Purchase Payments",
      "description": ""
    },
    {
      "name": "Purchase Posted Transaction Memos",
      "description": ""
    },
    {
      "name": "Purchase Posted Transactions",
      "description": ""
    },
    {
      "name": "Purchase Receipts",
      "description": ""
    },
    {
      "name": "Purchase Trading Periods",
      "description": ""
    },
    {
      "name": "Purchase Transaction Enquiry Views",
      "description": ""
    },
    {
      "name": "Purchase Transaction Views",
      "description": ""
    },
    {
      "name": "Sage Payments Supplier Status Types",
      "description": ""
    },
    {
      "name": "Supplier Contact Roles",
      "description": ""
    },
    {
      "name": "Supplier Contacts",
      "description": ""
    },
    {
      "name": "Supplier Emails",
      "description": ""
    },
    {
      "name": "Supplier Faxes",
      "description": ""
    },
    {
      "name": "Supplier Memos",
      "description": ""
    },
    {
      "name": "Supplier Mobiles",
      "description": ""
    },
    {
      "name": "Supplier Period Value Views",
      "description": ""
    },
    {
      "name": "Supplier Telephones",
      "description": ""
    },
    {
      "name": "Supplier Views",
      "description": ""
    },
    {
      "name": "Supplier Websites",
      "description": ""
    },
    {
      "name": "Supplier Year Value Views",
      "description": ""
    },
    {
      "name": "Suppliers",
      "description": ""
    }
  ],
  "paths": {
    "/sage_payments_supplier_status_types": {
      "get": {
        "tags": [
          "Sage Payments Supplier Status Types"
        ],
        "summary": "Sage Payments Supplier Status Types",
        "description": "Sage Payments Supplier Status Types indicate the status of the supplier with Supplier Payments. The status types are 'Not submitted to Supplier Payments', 'Queried', 'Rejected', 'Requires Approval', 'Approved' and 'Requires Submission'.<P>The API endpoint returns details of the status of the supplier with Supplier Payments.</P>",
        "operationId": "GetSagePaymentsSupplierStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the Sage Payments Supplier Status Types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sage_payments_supplier_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sage Payments Supplier Status Types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_trading_periods": {
      "get": {
        "tags": [
          "Purchase Trading Periods"
        ],
        "summary": "Purchase Trading Periods",
        "description": "This resource returns the details of all purchase trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetPurchaseTradingPeriods",
        "responses": {
          "200": {
            "description": "The details of the trading periods have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_trading_period"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase trading periods",
      "x-sage-professional-only": true,
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "14/08/2023",
          "title": "Removed operations",
          "description": "The PUT and POST operations for the endpoint that were added in the last update have now been removed. The previous endpoints should not be used, as they were included in error and do not perform the required validation. New PUT and POST operations will be included in a future release."
        }
      ]
    },
    "/purchase_trading_periods/{Id}": {
      "get": {
        "tags": [
          "Purchase Trading Periods"
        ],
        "summary": "Purchase Trading Period",
        "description": "This resource returns the details of all purchase trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetPurchaseTradingPeriod",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase trading period.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the trading periods have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_trading_period"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase trading period",
      "x-sage-professional-only": true
    },
    "/purchase_invoices": {
      "post": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Purchase Invoices",
        "description": "Invoices are used to record a purchase against a particular supplier's account.<br /><br />Posting a purchase invoice does not actually create a 'purchase invoice' entity, but a Posted Transaction of type 'TradingAccountEntryTypeInvoice', therefore it is not possible to 'get' a purchase invoice using the same API endpoint after it has been posted. Posting a purchase invoice returns a URN (Unique Reference Number) that can be used to find the corresponding posted transaction.",
        "operationId": "PostPurchaseInvoice",
        "requestBody": {
          "description": "Purchase invoice to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase invoice was created. Response body will include the urn of the transactions created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/urn"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Purchase invoice"
      },
      "x-sage-pathtitle": "Purchase invoices"
    },
    "/purchase_invoices_new": {
      "post": {
        "tags": [
          "Purchase Invoices"
        ],
        "summary": "Purchase Invoices New",
        "description": "Returns a purchase invoice with all the default values for a supplier. The API endpoint does not persist the purchase invoice.",
        "operationId": "PostPurchaseInvoicesNew",
        "requestBody": {
          "description": "A supplier request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_invoice_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The default invoice information was returned and included in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_invoice"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchaseInvoiceNew"
      },
      "x-sage-pathtitle": "Purchase Invoices New",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_credit_notes": {
      "post": {
        "tags": [
          "Purchase Credit Notes"
        ],
        "summary": "Purchase Credit Notes",
        "description": "Use this resource to enter credit notes directly onto a particular supplier's account. Credit notes are typically used when receiving refunds, returns, etc. and reduce the turnover for the relevant supplier's account.<br /><br />Posting a credit note does not actually create a 'credit note' entity, but a Posted Transaction of type 'TradingAccountEntryTypeCreditNote', therefore it is not possible to 'get' a credit note using the same API endpoint after it has been posted. Posting a purchase credit note returns a URN (Unique Reference Number) that can be used to find the corresponding posted transaction.",
        "operationId": "PostPurchaseCreditNote",
        "requestBody": {
          "description": "Purchase credit note to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_credit_note"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase credit note was created. Response body will include the urn of the transactions created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/urn"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Purchase credit note"
      },
      "x-sage-pathtitle": "Purchase credit notes"
    },
    "/purchase_credit_notes_new": {
      "post": {
        "tags": [
          "Purchase Credit Notes"
        ],
        "summary": "Purchase Credit Notes New",
        "description": "Returns a purchase credit note with all the default values for a supplier. The API endpoint does not persist the purchase credit note.",
        "operationId": "PostPurchaseCreditNotesNew",
        "requestBody": {
          "description": "A supplier request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_credit_note_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The default credit note information was returned and included in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_credit_note"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchaseCreditNoteNew"
      },
      "x-sage-pathtitle": "Purchase Credit Notes New",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_posted_transactions": {
      "get": {
        "tags": [
          "Purchase Posted Transactions"
        ],
        "summary": "Purchase Posted Transactions",
        "description": "Purchase posted transactions are created when transactions, such as purchases made, refunds or credit notes, are posted against the Purchase Ledger.<br /><br />It is not possible to use this API resource to create posted transactions. To post a transaction, the necessary API resource must be invoked.<br /><br />It is possible to use this API resource to update a transaction's queried status.",
        "operationId": "GetPurchasePostedTransactions",
        "responses": {
          "200": {
            "description": "Get a collection of posted purchase transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_posted_transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase posted transactions",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/purchase_posted_transactions/{Id}": {
      "get": {
        "tags": [
          "Purchase Posted Transactions"
        ],
        "summary": "Purchase Posted Transaction",
        "description": "Purchase posted transactions are created when transactions, such as purchases made, refunds or credit notes, are posted against the Purchase Ledger.<br /><br />It is not possible to use this API resource to create posted transactions. To post a transaction, the necessary API resource must be invoked.<br /><br />It is possible to use this API resource to update a transaction's queried status.",
        "operationId": "GetPurchasePostedTransaction",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single posted purchase transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_posted_transaction"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Purchase Posted Transactions"
        ],
        "summary": "Purchase Posted Transaction",
        "description": "Purchase posted transactions are created when transactions, such as purchases made, refunds or credit notes, are posted against the Purchase Ledger.<br /><br />It is not possible to use this API resource to create posted transactions. To post a transaction, the necessary API resource must be invoked.<br /><br />It is possible to use this API resource to update a transaction's queried status.",
        "operationId": "PutPurchasePostedTransaction",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The unique Id of the purchase posted transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Purchase posted transaction to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_posted_transaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase posted transaction was updated. Response body will include the purchase posted transaction details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_posted_transaction"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchasePostedTransaction"
      },
      "x-sage-pathtitle": "Purchase posted transaction"
    },
    "/purchase_transaction_enquiry_views": {
      "get": {
        "tags": [
          "Purchase Transaction Enquiry Views"
        ],
        "summary": "Purchase Transaction Enquiry Views",
        "description": "Purchase transaction equiry views represent transactions posted against the Purchase Ledger, such as purchases made, and any refunds or credit notes received.",
        "operationId": "GetPurchaseTransactionEnquiryViews",
        "responses": {
          "200": {
            "description": "Get a collection of purchase transaction enquiry views.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_transaction_enquiry_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase transaction enquiry views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_transaction_enquiry_views/{Id}": {
      "get": {
        "tags": [
          "Purchase Transaction Enquiry Views"
        ],
        "summary": "Purchase Transaction Enquiry View",
        "description": "Purchase transaction equiry views represent transactions posted against the Purchase Ledger, such as purchases made, and any refunds or credit notes received.",
        "operationId": "GetPurchaseTransactionEnquiryView",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single purchase transaction enquiry view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_transaction_enquiry_view"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase transaction enquiry view"
    },
    "/suppliers/{supplierId}/purchase_transaction_enquiry_views": {
      "get": {
        "tags": [
          "Purchase Transaction Enquiry Views"
        ],
        "summary": "Purchase Transaction Enquiry Views Transactions For Supplier",
        "description": "Purchase transaction equiry views represent transactions posted against the Purchase Ledger, such as purchases made, and any refunds or credit notes received.",
        "operationId": "GetPurchaseTransactionsEnquiryViewsForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return transactions for a single supplier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_transaction_enquiry_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase transaction enquiry views transactions for Supplier"
    },
    "/purchase_posted_transaction_memos": {
      "get": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memos",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetPurchasePostedTransactionMemos",
        "responses": {
          "200": {
            "description": "The list of purchase posted transaction memos has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_posted_transaction_memo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memos",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PostPurchasePostedTransactionMemo",
        "requestBody": {
          "description": "Purchase posted transaction memo to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_posted_transaction_memo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase posted transaction memo was created. Response body will include the purchase posted transaction memo details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_posted_transaction_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchasePostedTransactionMemo"
      },
      "x-sage-pathtitle": "Purchase posted transaction memos",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_posted_transaction_memos/{Id}": {
      "get": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memo",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetPurchasePostedTransactionMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase posted transaction memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of purchase posted transaction memo successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_posted_transaction_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memo",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PutPurchasePostedTransactionMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase posted transaction memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Purchase posted transaction memo to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_posted_transaction_memo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase posted transaction memo was updated. Response body will include the purchase posted transaction memo details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_posted_transaction_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchasePostedTransactionMemo"
      },
      "delete": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memo",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "DeletePurchasePostedTransactionMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the purchase posted transaction memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase posted transaction memo was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase posted transaction memo"
    },
    "/purchase_posted_transactions/{transactionId}/purchase_posted_transaction_memos": {
      "get": {
        "tags": [
          "Purchase Posted Transaction Memos"
        ],
        "summary": "Purchase Posted Transaction Memos For Purchase Posted Transaction",
        "description": "Memos are comments that are made about a purchase posted transaction.<br/><br/>Multiple memos can be added to each purchase posted transaction. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetMemosForPurchasePostedTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Unique Id of the purchase posted transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of memos for a purchase posted transaction has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_posted_transaction_memo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase posted transaction memos for purchase posted transaction"
    },
    "/purchase_transaction_views": {
      "get": {
        "tags": [
          "Purchase Transaction Views"
        ],
        "summary": "Purchase Transaction Views",
        "description": "When making larger API requests for transaction information from the Purchase ledger, the Purchase Transaction Views resource can be a faster alternative to the 'Purchase Posted Transactions' resource.<br /><br />The Purchase Transaction Views resource also returns a wider breadth of information than the Purchase Posted Transactions. By using the Purchase Transaction Views resource, the quantity of API requests can be reduced, when returning the same information from multiple API resources. The default sort (orderby) field is by 'posted_supplier_transaction_id' ascending.",
        "operationId": "GetPurchaseTransactionViews",
        "responses": {
          "200": {
            "description": "The details of the purchase transaction views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_transaction_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase transaction views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_payments": {
      "post": {
        "tags": [
          "Purchase Payments"
        ],
        "summary": "Purchase Payments",
        "description": "Payments are used to record a supplier payment against a particular supplier's account.<br /><br />Posting a purchase payment does not actually create a 'purchase payment' entity, but a Posted Transaction of type 'TradingAccountEntryTypePurchasePaymentSalesReceipt', therefore it is not possible to 'get' a purchase payment using the same API endpoint after it has been posted. Posting a purchase payment returns a URN (Unique Reference Number) that can be used to find the corresponding posted transaction.<br /><br />Note: Before posting purchase payments via the API, at least one bank account must exist within Sage 200.",
        "operationId": "PostPurchasePayment",
        "requestBody": {
          "description": "Purchase payment to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_payment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase payment was created. Response body will include the urn of the transactions created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/urn"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Purchase payment"
      },
      "x-sage-pathtitle": "Purchase Payments",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_receipts": {
      "post": {
        "tags": [
          "Purchase Receipts"
        ],
        "summary": "Purchase Receipts",
        "description": "Receipts are used to record a supplier receipt against a particular supplier's account.<br /><br />Posting a purchase receipt does not actually create a 'purchase receipt' entity, but a Posted Transaction of type 'TradingAccountEntryTypePurchaseReceiptSalesPayment', therefore it is not possible to 'get' a purchase receipt using the same API endpoint after it has been posted. Posting a purchase receipt returns a URN (Unique Reference Number) that can be used to find the corresponding posted transaction.<br /><br />Note: Before posting purchase receipts via the API, at least one bank account must exist within Sage 200.",
        "operationId": "PostPurchaseReceipt",
        "requestBody": {
          "description": "Purchase receipt to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_receipt"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase receipt was created. Response body will include the urn of the transactions created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/urn"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Purchase receipt"
      },
      "x-sage-pathtitle": "Purchase Receipts",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_authorisations/{Id}": {
      "get": {
        "tags": [
          "Purchase Authorisations"
        ],
        "summary": "Purchase Authorisation",
        "description": "Invoices and Credit Notes which are above a threshold value are unauthorised. The value of unauthorised transactions is posted to the default nominal account for Unauthorised Purchases. Use authorisation to reverse the posting from the Unauthorised Purchases nominal account and post to the intended account.",
        "operationId": "GetPurchaseAuthorisation",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single purchase transaction for authorisation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_authorisation"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Purchase Authorisations"
        ],
        "summary": "Purchase Authorisation",
        "description": "Invoices and Credit Notes which are above a threshold value are unauthorised. The value of unauthorised transactions is posted to the default nominal account for Unauthorised Purchases. Use authorisation to reverse the posting from the Unauthorised Purchases nominal account and post to the intended account.",
        "operationId": "PutPurchaseAuthorisation",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the transaction.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Purchase transaction to authorise.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/purchase_authorisation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The purchase transaction was authorised. Response body will include the authorised purchase transaction details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/purchase_authorisation"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "PurchaseAuthorisation"
      },
      "x-sage-pathtitle": "Purchase Authorisation",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/authorisation_types": {
      "get": {
        "tags": [
          "Authorisation Types"
        ],
        "summary": "Authorisation Types",
        "description": "The authorisation type for a purchase transaction.",
        "operationId": "GetAuthorisationTypes",
        "responses": {
          "200": {
            "description": "The list of authorisation types has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/authorisation_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Authorisation Types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_aged_creditor_detailed_views": {
      "get": {
        "tags": [
          "Purchase Aged Creditor Detailed Views"
        ],
        "summary": "Purchase Aged Creditor Detailed Views",
        "description": "Gets Purchase aged creditor detailed views. Specifying a query parameter of '$ageingdatetype' will produce values for the specified ageing type. Acceptable values are 'transactiondate', 'duedate', and 'calendarmonth', to calculate aged credit by Transaction Date, Due Date, or by calendar months.",
        "operationId": "GetPurchaseAgedCreditorDetailedViews",
        "responses": {
          "200": {
            "description": "The purchase aged creditor detailed views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_aged_creditor_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase aged creditor detailed views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/purchase_aged_creditor_summary_views": {
      "get": {
        "tags": [
          "Purchase Aged Creditor Summary Views"
        ],
        "summary": "Purchase Aged Creditor Summary Views",
        "description": "Gets Purchase aged creditor summary views. Specifying a query parameter of '$ageingdatetype' will produce values for the specified ageing type. Acceptable values are 'transactiondate', 'duedate', and 'calendarmonth', to calculate aged credit by Transaction Date, Due Date, or by calendar months.",
        "operationId": "GetPurchaseAgedCreditorSummaryViews",
        "responses": {
          "200": {
            "description": "The purchase aged creditor summary views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_aged_creditor_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase aged creditor summary views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Suppliers",
        "description": "Suppliers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. purchase orders, purchase receipts, etc).",
        "operationId": "GetSuppliers",
        "responses": {
          "200": {
            "description": "The list of suppliers has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Suppliers",
        "description": "Suppliers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. purchase orders, purchase receipts, etc).",
        "operationId": "PostSupplier",
        "requestBody": {
          "description": "Supplier to add to Sage 200 Purchase Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier was created. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier"
      },
      "x-sage-pathtitle": "Suppliers",
      "x-sage-changelog": [
        {
          "date": "21/01/2017",
          "title": "Extended operation",
          "description": "This operation now includes the field 'account_status_type', which represents the status of the supplier account. This can either be 'Active' or 'Hidden'."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'status_reason', 'account_type', 'early_settlement_discount_percent', 'early_settlement_discount_days', 'payment_terms_days', 'payment_terms_basis', 'payment_group_id', 'factor_house_id', 'credit_memo_note', 'credit_bureau_id', 'credit_position_id', 'trading_terms', 'credit_reference', 'account_opened', 'last_credit_review', 'next_credit_review', 'application_date', 'date_received', 'terms_agreed', 'order_priority', 'months_to_keep_transactions', 'default_nominal_account_number', 'default_nominal_cost_centre', 'default_nominal_department', 'credit_bureau', 'credit_position', 'factor_house', 'payment_group', 'status' and 'date_time_created'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'memos'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'is_supplier_payments_enabled', 'value_of_current_orders_in_pop', 'default_nominal_code_reference', 'default_nominal_code_cost_centre' and 'default_nominal_code_department'.<br />This operation has had the fields 'default_nominal_account_number' and 'default_nominal_cost_centre' removed."
        },
        {
          "date": "20/02/2023",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'alerts'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ]
    },
    "/suppliers/{Id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Supplier",
        "description": "Suppliers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. purchase orders, purchase receipts, etc).",
        "operationId": "GetSupplier",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of supplier successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Supplier",
        "description": "Suppliers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. purchase orders, purchase receipts, etc.).",
        "operationId": "PutSupplier",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier to update in Sage 200 Purchase Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier was updated. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier"
      },
      "delete": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Supplier",
        "description": "Suppliers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. purchase orders, purchase receipts, etc.).",
        "operationId": "DeleteSupplier",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier"
    },
    "/suppliers_new": {
      "post": {
        "tags": [
          "Suppliers"
        ],
        "summary": "New Supplier With Defaults",
        "description": "Returns a supplier with all the defaults that have been specified within the application. The API endpoint does not persist the supplier.",
        "operationId": "PostSuppliersNew",
        "requestBody": {
          "description": "An empty request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/suppliers_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier with defaults was successfully returned. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Empty"
      },
      "x-sage-pathtitle": "New supplier with defaults",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'value_of_current_orders_in_pop', 'default_nominal_code_reference', 'default_nominal_code_cost_centre' and 'default_nominal_code_department'.<br />This operation has had the fields 'default_nominal_account_number' and 'default_nominal_cost_centre' removed."
        },
        {
          "date": "20/02/2023",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'alerts'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ]
    },
    "/suppliers/{supplierId}/purchase_posted_transactions": {
      "get": {
        "tags": [
          "Purchase Posted Transactions"
        ],
        "summary": "Purchase Posted Transactions For Supplier",
        "description": "Purchase posted transactions are created when transactions, such as purchases made, refunds or credit notes, are posted against the Purchase Ledger.<br /><br />It is not possible to use this API resource to create posted transactions. To post a transaction, the necessary API resource must be invoked.",
        "operationId": "GetPurchasePostedTransactionsForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return transactions for a single supplier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/purchase_posted_transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Purchase posted transactions for supplier"
    },
    "/supplier_contacts": {
      "get": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contacts",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetSupplierContact",
        "responses": {
          "200": {
            "description": "The list of supplier contacts has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier contacts",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'roles' and 'date_time_created'."
        }
      ]
    },
    "/supplier_contacts/{Id}": {
      "get": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetSupplierContacts",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a supplier contact have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "PutSupplierContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier contact to update in Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier contact was updated. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "supplier_contact"
      },
      "delete": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "DeleteSupplierContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier contact was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier contact"
    },
    "/suppliers/{supplierId}/supplier_contacts": {
      "get": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contacts For Supplier",
        "description": "Information can be stored for multiple contacts against each supplier account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetSupplierContactsForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of supplier contacts has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contacts For Supplier",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "PostSupplierContactForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier contact to add to the supplier account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier contact was created. Response body will include the supplier contact details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "supplier_contact"
      },
      "x-sage-pathtitle": "Supplier contacts for supplier"
    },
    "/suppliers/{supplierId}/supplier_contacts/{Id}": {
      "get": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact For Supplier",
        "description": "Information can be stored for multiple contacts against each supplier account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetSupplierContactForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier contact has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact For Supplier",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "PutSupplierContactForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier contact to update in Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier contact was updated. Response body will include the supplier details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "supplier_contact"
      },
      "delete": {
        "tags": [
          "Supplier Contacts"
        ],
        "summary": "Supplier Contact For Supplier",
        "description": "Information can be stored for multiple contacts against each supplier account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "DeleteSupplierContactForSupplier",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier contact was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier contact for supplier"
    },
    "/supplier_emails": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Emails",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmails",
        "responses": {
          "200": {
            "description": "The collection of supplier emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier emails",
      "x-sage-changelog": [
        {
          "date": "14/12/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/supplier_contacts/{supplierContactId}/supplier_emails": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmailsForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of supplier emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PostSupplierEmailForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier email to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier email was created. Response body will include the supplier email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier email"
      },
      "x-sage-pathtitle": "Supplier emails by contact"
    },
    "/suppliers/{supplierId}/supplier_contacts/{supplierContactId}/supplier_emails": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Emails For Supplier And Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmailsForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of supplier emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Emails For Supplier And Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PostSupplierEmailForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier email to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier email was created. Response body will include the supplier email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier email"
      },
      "x-sage-pathtitle": "Supplier emails for supplier and supplier contact"
    },
    "/supplier_emails/{Id}": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of supplier email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PutSupplierEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier email was updated. Response body will include the supplier email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier email"
      },
      "delete": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "DeleteSupplierEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier email"
    },
    "/supplier_contacts/{supplierContactId}/supplier_emails/{Id}": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmailForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of supplier email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PutSupplierEmailForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier email was updated. Response body will include the supplier email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier email"
      },
      "delete": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "DeleteSupplierEmailForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier email for supplier contact"
    },
    "/suppliers/{supplierId}/supplier_contacts/{supplierContactId}/supplier_emails/{Id}": {
      "get": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier And Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierEmailForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of supplier email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier And Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PutSupplierEmailForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier email was updated. Response body will include the supplier email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier email"
      },
      "delete": {
        "tags": [
          "Supplier Emails"
        ],
        "summary": "Supplier Email For Supplier And Supplier Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "DeleteSupplierEmailForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the supplier email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier email for supplier and supplier contact"
    },
    "/supplier_faxes": {
      "get": {
        "tags": [
          "Supplier Faxes"
        ],
        "summary": "Supplier Faxes",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierFaxes",
        "responses": {
          "200": {
            "description": "The collection of supplier faxes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_fax"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Supplier faxes",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/supplier_contacts/{supplierContactId}/supplier_faxes": {
      "get": {
        "tags": [
          "Supplier Faxes"
        ],
        "summary": "Supplier Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierFaxesForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of supplier faxes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier_fax"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Supplier Faxes"
        ],
        "summary": "Supplier Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "PostSupplierFaxForSupplierContact",
        "parameters": [
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier fax to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The supplier fax was created. Response body will include the supplier fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Supplier fax"
      },
      "x-sage-pathtitle": "Supplier faxes by contact"
    },
    "/suppliers/{supplierId}/supplier_contacts/{supplierContactId}/supplier_faxes": {
      "get": {
        "tags": [
          "Supplier Faxes"
        ],
        "summary": "Supplier Faxes For Supplier And Supplier Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the supplier contact details. Calling this resource doesn't return, or update any other supplier contact fields.",
        "operationId": "GetSupplierFaxesForSupplierAndSupplierContact",
        "parameters": [
          {
            "name": "supplierId",
            "in": "path",
            "description": "Unique Id of the supplier.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "supplierContactId",
            "in": "path",
            "description": "Unique Id of the supplier contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of supplier faxes has been successfully returned.",
[...]
