{
  "openapi": "3.0.1",
  "info": {
    "title": "Sage 200 v1 Extra Sales",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.columbus.sage.com/uk/sage200extra/accounts/v1/"
    }
  ],
  "tags": [
    {
      "name": "Customer Alerts",
      "description": ""
    },
    {
      "name": "Customer Cards",
      "description": ""
    },
    {
      "name": "Customer Contact Roles",
      "description": ""
    },
    {
      "name": "Customer Contacts",
      "description": ""
    },
    {
      "name": "Customer Delivery Addresses",
      "description": ""
    },
    {
      "name": "Customer Emails",
      "description": ""
    },
    {
      "name": "Customer Faxes",
      "description": ""
    },
    {
      "name": "Customer Memos",
      "description": ""
    },
    {
      "name": "Customer Mobiles",
      "description": ""
    },
    {
      "name": "Customer Period Value Views",
      "description": ""
    },
    {
      "name": "Customer Price Bands",
      "description": ""
    },
    {
      "name": "Customer Price Enquiry",
      "description": ""
    },
    {
      "name": "Customer SOP Invoice Credit Line Views",
      "description": ""
    },
    {
      "name": "Customer Telephones",
      "description": ""
    },
    {
      "name": "Customer Views",
      "description": ""
    },
    {
      "name": "Customer Websites",
      "description": ""
    },
    {
      "name": "Customer Year Value Views",
      "description": ""
    },
    {
      "name": "Customers",
      "description": ""
    },
    {
      "name": "Document Transmission Method Types",
      "description": ""
    },
    {
      "name": "Finance Charges",
      "description": ""
    },
    {
      "name": "Head Office Types",
      "description": ""
    },
    {
      "name": "Lookup Customers",
      "description": ""
    },
    {
      "name": "Sales Aged Debtor Detailed Views",
      "description": ""
    },
    {
      "name": "Sales Aged Debtor Summary Views",
      "description": ""
    },
    {
      "name": "Sales Aged Transaction Period Views",
      "description": ""
    },
    {
      "name": "Sales Allocations",
      "description": ""
    },
    {
      "name": "Sales Credit Notes",
      "description": ""
    },
    {
      "name": "Sales Historical Transactions",
      "description": ""
    },
    {
      "name": "Sales Invoices",
      "description": ""
    },
    {
      "name": "Sales Ledger Settings",
      "description": ""
    },
    {
      "name": "Sales Payments",
      "description": ""
    },
    {
      "name": "Sales Posted Transaction Memos",
      "description": ""
    },
    {
      "name": "Sales Posted Transactions",
      "description": ""
    },
    {
      "name": "Sales Receipts",
      "description": ""
    },
    {
      "name": "Sales Trading Periods",
      "description": ""
    },
    {
      "name": "Sales Transaction Enquiry Views",
      "description": ""
    },
    {
      "name": "Sales Transaction Views",
      "description": ""
    },
    {
      "name": "Statement Ageing Terms",
      "description": ""
    },
    {
      "name": "Statement Layout Types",
      "description": ""
    },
    {
      "name": "Statement Terms",
      "description": ""
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.). When making larger requests for customer information, the Customer Views resource can be a faster alternative to this resource.",
        "operationId": "GetCustomers",
        "responses": {
          "200": {
            "description": "The list of customers has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "PostCustomer",
        "requestBody": {
          "description": "Customer to add to Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer was created. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer"
      },
      "x-sage-pathtitle": "Customers",
      "x-sage-changelog": [
        {
          "date": "21/01/2017",
          "title": "Extended operation",
          "description": "This operation now includes the field 'account_status_type', which represents the status of the customer account. This can either be 'Active' or 'Hidden'."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'status_reason', 'account_type', 'early_settlement_discount_percent', 'early_settlement_discount_days', 'payment_terms_days', 'payment_terms_basis', 'credit_memo_note', 'terms_agreed', 'credit_bureau_id', 'credit_position_id', 'finance_charge_id', 'trading_terms', 'credit_reference', 'account_opened', 'last_credit_review', 'next_credit_review', 'application_date', 'date_received', 'date_finance_charge_last_run', 'office_type', 'associated_head_office_id', 'produce_statements_for_customer', 'use_consolidated_billing', 'order_priority', 'use_tax_code_as_default', 'months_to_keep_transactions', 'default_nominal_code_reference', 'default_nominal_code_cost_centre', 'default_nominal_code_department', 'invoice_discount_percent', 'invoice_line_discount_percent', 'customer_discount_group_id', 'order_value_discount_id', 'price_band_id', 'associated_head_office', 'credit_bureau', 'credit_position', 'customer_discount_group', 'finance_charge', 'order_value_discount', 'price_band', 'sales_credit_note_layout', 'sales_invoice_layout', 'statement_layout', 'status' and 'date_time_created'."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'cards'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'alerts', 'limited_price_bands' and 'memos'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code' and 'is_head_office_with_branches'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ]
    },
    "/customers/{Id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated to many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "PutCustomer",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer to update in Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer was updated. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer"
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Customer",
        "description": "Customers are one of the most important entities within Sage 200 as they are associated with many important resources within the application and underpin most of the main features (e.g. sales orders, payment receipts, etc.).",
        "operationId": "DeleteCustomer",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer"
    },
    "/customers_new": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "New Customer With Defaults",
        "description": "Returns a customer with all the defaults that have been specified within the application. The API endpoint does not persist the customer.",
        "operationId": "PostCustomersNew",
        "requestBody": {
          "description": "An empty request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customers_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer with defaults was successfully returned. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Empty"
      },
      "x-sage-pathtitle": "New customer with defaults",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'cards'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'default_nominal_code'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'default_nominal_code_id', 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ]
    },
    "/statement_layout_types": {
      "get": {
        "tags": [
          "Statement Layout Types"
        ],
        "summary": "Statement Layout Types",
        "description": "Statement layout types are used to determine statement production when printing documents for customers within the application. Statement layout types can be 'Paper Standard', 'Paper Alternative', 'Email Standard' or 'Email Alternative'.<P>The API endpoint returns details of the statement layout types that can be used.</P>",
        "operationId": "GetStatementLayoutTypes",
        "responses": {
          "200": {
            "description": "The details of the statement layout types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/statement_layout_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Statement layout types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/customer_contacts": {
      "get": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contacts",
        "description": "Information can be stored for multiple contacts against each customer account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContact",
        "responses": {
          "200": {
            "description": "The list of customer contacts has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer contacts",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'roles' and 'date_time_created'."
        }
      ]
    },
    "/customer_contacts/{Id}": {
      "get": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact",
        "description": "Information can be stored for multiple contacts against each customer account. Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContacts",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a customer contact have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact",
        "description": "Update a customer contact in the Sage 200 Sales Ledger.",
        "operationId": "PutCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer contact to update in Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer contact was updated. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "customer_contact"
      },
      "delete": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact",
        "description": "Delete a customer contact.",
        "operationId": "DeleteCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer contact"
    },
    "/customers/{customerId}/customer_contacts": {
      "get": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contacts For Customer",
        "description": "Information can be stored for multiple contacts against each customer account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContactsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer contacts has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contacts For Customer",
        "description": "Create a new customer contact for a customer in the Sage 200 Sales Ledger.",
        "operationId": "PostCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer contact to add to the customer account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer contact was created. Response body will include the customer contact details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "customer_contact"
      },
      "x-sage-pathtitle": "Customer contacts for customer"
    },
    "/customers/{customerId}/customer_contacts/{Id}": {
      "get": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact For Customer",
        "description": "Information can be stored for multiple contacts against each customer account.  Each contact can have its own details such as telephone numbers, fax numbers, email address and website.",
        "operationId": "GetCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact For Customer",
        "description": "Update a customer contact for customer in the Sage 200 Sales Ledger.",
        "operationId": "PutCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer contact to update in Sage 200 Sales Ledger.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer contact was updated. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_contact"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "customer_contact"
      },
      "delete": {
        "tags": [
          "Customer Contacts"
        ],
        "summary": "Customer Contact For Customer",
        "description": "Delete a customer contact for a customer.",
        "operationId": "DeleteCustomerContactForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer contact was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer contact for customer"
    },
    "/customer_alerts": {
      "get": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "GetCustomerAlerts",
        "responses": {
          "200": {
            "description": "The list of customer alerts has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_alert"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "PostCustomerAlert",
        "requestBody": {
          "description": "Customer alert to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_alert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer alert was created. Response body will include the customer alert details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_alert"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "CustomerAlert"
      },
      "x-sage-pathtitle": "Customer Alert",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/customer_alerts/{Id}": {
      "get": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alert",
        "description": "Return a single customer alert resource by supplying a customer alert Id.",
        "operationId": "GetCustomerAlert",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer alert successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_alert"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "PutCustomerAlert",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer alert to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_alert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer alert was updated. Response body will include the customer alert details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_alert"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer Alert"
      },
      "delete": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alert",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "DeleteCustomerAlert",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer alert.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer alert was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer Alert"
    },
    "/customer_memos": {
      "get": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memos",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemos",
        "responses": {
          "200": {
            "description": "The list of customer memos has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_memo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memos",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PostCustomerMemo",
        "requestBody": {
          "description": "Customer memo to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_memo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer memo was created. Response body will include the customer memo details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "CustomerMemo"
      },
      "x-sage-pathtitle": "Customer memos",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'is_to_delete'."
        }
      ]
    },
    "/customer_memos/{Id}": {
      "get": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer memo successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PutCustomerMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer memo to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_memo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer memo was updated. Response body will include the customer memo details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_memo"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "CustomerMemo"
      },
      "delete": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memo",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "DeleteCustomerMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer memo.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer memo was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer memo"
    },
    "/customers/{customerId}/customer_alerts": {
      "get": {
        "tags": [
          "Customer Alerts"
        ],
        "summary": "Customer Alerts For Customer",
        "description": "Alerts are messages that can be displayed when a user performs a particular task. You can show alerts when entering invoices or credit notes, sales orders and returns, quotations and pro forma invoices, and for customer price enquiries.",
        "operationId": "GetCustomerAlertsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer alerts for a customer has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_alert"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer alerts for customer"
    },
    "/customers/{customerId}/customer_memos": {
      "get": {
        "tags": [
          "Customer Memos"
        ],
        "summary": "Customer Memos For Customer",
        "description": "Memos are sections of text that can be used to make comments about a customer account such as reminders, or notes (e.g. if there is currently a dispute over an order).<br/><br/>Multiple memos can be added to each account. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetCustomerMemosForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer memos for a customer has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_memo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer memos for customer"
    },
    "/customer_cards": {
      "get": {
        "tags": [
          "Customer Cards"
        ],
        "summary": "Customer Cards",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCards",
        "responses": {
          "200": {
            "description": "The list of customer cards has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_card"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer cards",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/customer_cards/{Id}": {
      "get": {
        "tags": [
          "Customer Cards"
        ],
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCard",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the customer card has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_card"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Cards"
        ],
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "PutCustomerCard",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer card to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_card"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer cards were updated. Response body will include the customer cards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_card"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "CustomerCard"
      },
      "delete": {
        "tags": [
          "Customer Cards"
        ],
        "summary": "Customer Card",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "DeleteCustomerCard",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer card.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer card was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer card"
    },
    "/customers/{customerId}/customer_cards": {
      "get": {
        "tags": [
          "Customer Cards"
        ],
        "summary": "Customer Cards For Customer",
        "description": "Customer cards are the credit cards used by the customer. They are created when a transaction is made using an Online Card Provider. The description used for the card can be renamed, or the card removed. Multiple cards can be associated with one account. The date and time that the card was last used is also recorded.",
        "operationId": "GetCustomerCardsForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customer cards for a customer has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_card"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer cards for customer"
    },
    "/sales_trading_periods": {
      "get": {
        "tags": [
          "Sales Trading Periods"
        ],
        "summary": "Sales Trading Periods",
        "description": "This resource returns the details of all sales trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetSalesTradingPeriods",
        "responses": {
          "200": {
            "description": "The details of the accounting periods have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sales_trading_period"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales trading periods",
      "x-sage-professional-only": true,
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Extended operations",
          "description": "This endpoint was enhanced with POST and PUT operations."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        },
        {
          "date": "14/08/2023",
          "title": "Removed operations",
          "description": "The PUT and POST operations for the endpoint that were added in the last update have now been removed. The previous endpoints should not be used, as they were included in error and do not perform the required validation. New PUT and POST operations will be included in a future release."
        }
      ]
    },
    "/sales_trading_periods/{Id}": {
      "get": {
        "tags": [
          "Sales Trading Periods"
        ],
        "summary": "Sales Trading Period",
        "description": "This resource returns the details of all sales trading periods for all financial years held for the company. A company can have the trading periods set to be the same as the accounting periods or as different periods. (Sage 200 Professional only, Sage 200 Standard defaults to financial year periods).",
        "operationId": "GetSalesTradingPeriod",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales trading period.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the trading periods have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sales_trading_period"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales trading period",
      "x-sage-professional-only": true
    },
    "/customer_emails": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Emails",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmails",
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer emails",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/customer_contacts/{CustomerContactId}/customer_emails": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailsForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Emails By Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer email to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer email was created. Response body will include the customer email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer email"
      },
      "x-sage-pathtitle": "Customer emails by contact"
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_emails": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Emails For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailsForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer emails has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_email"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Emails For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer email to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer email was created. Response body will include the customer email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer email"
      },
      "x-sage-pathtitle": "Customer emails for customer and customer contact"
    },
    "/customer_emails/{Id}": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer email"
      },
      "delete": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmail",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer email"
    },
    "/customer_contacts/{CustomerContactId}/customer_emails/{Id}": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer email"
      },
      "delete": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmailForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer email for customer contact"
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_emails/{Id}": {
      "get": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer email successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer email to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer email was updated. Response body will include the customer email details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_email"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer email"
      },
      "delete": {
        "tags": [
          "Customer Emails"
        ],
        "summary": "Customer Email For Customer And Customer Contact",
        "description": "Contact specific email addresses can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerEmailForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer email.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer email was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer email for customer and customer contact"
    },
    "/customer_faxes": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Faxes",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxes",
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_fax"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer faxes",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'date_time_created'."
        }
      ]
    },
    "/customer_contacts/{CustomerContactId}/customer_faxes": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxesForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_fax"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Faxes By Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer fax to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer fax was created. Response body will include the customer fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer fax"
      },
      "x-sage-pathtitle": "Customer faxes by contact"
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_faxes": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Faxes For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxesForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection of customer faxes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer_fax"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Faxes For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PostCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer fax to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer fax was created. Response body will include the customer fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer fax"
      },
      "x-sage-pathtitle": "Customer faxes for customer and customer contact"
    },
    "/customer_faxes/{Id}": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFax",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "PutCustomerFax",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer fax to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer fax"
      },
      "delete": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "DeleteCustomerFax",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer fax"
    },
    "/customer_contacts/{CustomerContactId}/customer_faxes/{Id}": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer Contact",
        "description": "Update a customer fax.",
        "operationId": "PutCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer fax to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer fax"
      },
      "delete": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer Contact",
        "description": "Delete a customer fax for customer contact",
        "operationId": "DeleteCustomerFaxForCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Customer fax for customer contact"
    },
    "/customers/{customerId}/customer_contacts/{CustomerContactId}/customer_faxes/{Id}": {
      "get": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Contact specific fax numbers can be queried, or updated in isolation, separate to the rest of the customer contact details. Calling this resource doesn't return, or update any other customer contact fields.",
        "operationId": "GetCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of customer fax successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Update a customer fax.",
        "operationId": "PutCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Customer fax to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer_fax"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer fax was updated. Response body will include the customer fax details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer_fax"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Customer fax"
      },
      "delete": {
        "tags": [
          "Customer Faxes"
        ],
        "summary": "Customer Fax For Customer And Customer Contact",
        "description": "Delete a customer fax for customer and customer contact.",
        "operationId": "DeleteCustomerFaxForCustomerAndCustomerContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the customer fax.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CustomerContactId",
            "in": "path",
            "description": "Unique Id of the customer contact.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer fax was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
[...]
