{
  "openapi": "3.0.1",
  "info": {
    "title": "Sage 200 v1 Extra SOP",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.columbus.sage.com/uk/sage200extra/accounts/v1/"
    }
  ],
  "tags": [
    {
      "name": "Current User SOP User Permissions",
      "description": ""
    },
    {
      "name": "Lookup SOP Orders",
      "description": ""
    },
    {
      "name": "Lookup SOP Quotes",
      "description": ""
    },
    {
      "name": "Order Line Item Types",
      "description": ""
    },
    {
      "name": "SOP Additional Charges",
      "description": ""
    },
    {
      "name": "SOP Allocation Line Views",
      "description": ""
    },
    {
      "name": "SOP Back To Back Status Types",
      "description": ""
    },
    {
      "name": "SOP Cancelled Lines",
      "description": ""
    },
    {
      "name": "SOP Confirm Despatch",
      "description": ""
    },
    {
      "name": "SOP Confirm Despatch Bin Items",
      "description": ""
    },
    {
      "name": "SOP Confirm Despatch Traceable Items",
      "description": ""
    },
    {
      "name": "SOP Confirmation Intent Types",
      "description": ""
    },
    {
      "name": "SOP Customer Types",
      "description": ""
    },
    {
      "name": "SOP Despatch Discrete Orders",
      "description": ""
    },
    {
      "name": "SOP Despatch Receipts",
      "description": ""
    },
    {
      "name": "SOP Document Print Status Types",
      "description": ""
    },
    {
      "name": "SOP Document Process Status Types",
      "description": ""
    },
    {
      "name": "SOP Document Status Types",
      "description": ""
    },
    {
      "name": "SOP Document Types",
      "description": ""
    },
    {
      "name": "SOP Export Reasons",
      "description": ""
    },
    {
      "name": "SOP Incoterms",
      "description": ""
    },
    {
      "name": "SOP Intrastat Status Types",
      "description": ""
    },
    {
      "name": "SOP Invoice Credit Types",
      "description": ""
    },
    {
      "name": "SOP Order Despatch Line Views",
      "description": ""
    },
    {
      "name": "SOP Order Despatch Views",
      "description": ""
    },
    {
      "name": "SOP Order Entry Types",
      "description": ""
    },
    {
      "name": "SOP Order Line Traceable Items",
      "description": ""
    },
    {
      "name": "SOP Order Line Views",
      "description": ""
    },
    {
      "name": "SOP Order Lines",
      "description": ""
    },
    {
      "name": "SOP Order Payment Types",
      "description": ""
    },
    {
      "name": "SOP Order Return Invoice Credit Views",
      "description": ""
    },
    {
      "name": "SOP Order Return Line Invoice Credit Views",
      "description": ""
    },
    {
      "name": "SOP Order Return Views",
      "description": ""
    },
    {
      "name": "SOP Orders",
      "description": ""
    },
    {
      "name": "SOP Orders Duplicate",
      "description": ""
    },
    {
      "name": "SOP Payment Methods",
      "description": ""
    },
    {
      "name": "SOP Pro Forma Line Views",
      "description": ""
    },
    {
      "name": "SOP Quote Line Views",
      "description": ""
    },
    {
      "name": "SOP Quote Views",
      "description": ""
    },
    {
      "name": "SOP Quotes",
      "description": ""
    },
    {
      "name": "SOP Quotes Duplicate",
      "description": ""
    },
    {
      "name": "SOP Return Line Views",
      "description": ""
    },
    {
      "name": "SOP Settings",
      "description": ""
    },
    {
      "name": "SOP Show On Picking List Types",
      "description": ""
    },
    {
      "name": "SOP Trade Line Status Types",
      "description": ""
    },
    {
      "name": "SOP User Permissions",
      "description": ""
    },
    {
      "name": "Suggested Products",
      "description": ""
    }
  ],
  "paths": {
    "/sop_orders": {
      "get": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Orders",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPOrders",
        "responses": {
          "200": {
            "description": "The details of the sales orders have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Orders",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.<br /><br />Note: Adding  traceable  items to sales orders.<br/>If you're using traceable stock items and an item is set to be sold from a single batch, then the order quantity must be less than or equal to quantity in the batch. If you try to order more than quantity in the batch, the order cannot be posted via the API.",
        "operationId": "PostSOPOrder",
        "requestBody": {
          "description": "Sales order to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales order was created. Response body will include the sales order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "sop_order"
      },
      "x-sage-pathtitle": "Sales orders",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operations",
          "description": "Get and Post operations include fields 'requested_delivery_date' and 'promised_delivery_date'. Also fields for analysis codes 1 to 5."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now includes document discount percentage (post/get), document created by (post/get), subtotal charges (get), subtotal order discount (get) and analysis codes 6-20 in professional."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'customer_type', 'is_draft', 'is_editing', 'is_to_sequence_lines', 'create_cancelled_lines', 'override_on_hold', 'recalculate_prices', 'currency_id', 'is_credit_limit_exceeded', 'order_priority', 'external_reference', 'payment_with_order', 'payment_type', 'payment_value', 'payment_method_id', 'cash_account_invoice_address', 'currency', 'payment_method', 'profitability' and 'date_time_created'."
        },
        {
          "date": "08/11/2021",
          "title": "Extended operations",
          "description": "This endpoint was enhanced with PUT and DELETE operations."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'apply_available_document_discount_percent', 'lock_id', 'customer_delivery_address_id', 'is_triangulated', 'available_document_discount_percent', 'invoice_payment_with_order_immediately', 'payment_reference', 'payment_declared', 'payment_undeclared', 'declared_payment_remaining', 'payment_status' and 'memos'.<br />This operation has had the field 'create_cancelled_lines' removed."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/sop_orders/{Id}": {
      "get": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. <br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted.",
        "operationId": "PutSOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Sales order to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales order was updated. Response body will include the sales order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrder"
      },
      "delete": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "DeleteSOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales order was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order"
    },
    "/sop_orders_new": {
      "post": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "New Sales Order With Defaults",
        "description": "Returns a sales order with all the default values for a customer. The API endpoint does not persist the sales order.",
        "operationId": "PostSOPOrdersNew",
        "requestBody": {
          "description": "A customer request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_orders_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales order with defaults was successfully returned. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrderNew"
      },
      "x-sage-pathtitle": "New sales order with defaults",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'apply_available_document_discount_percent', 'lock_id', 'customer_delivery_address_id', 'is_triangulated', 'available_document_discount_percent', 'invoice_payment_with_order_immediately', 'payment_reference', 'payment_declared', 'payment_undeclared', 'declared_payment_remaining', 'payment_status' and 'memos'.<br />This operation has had the field 'create_cancelled_lines' removed."
        },
        {
          "date": "18/02/2022",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/sop_orders_new/{Id}": {
      "put": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "New Sales Order With Defaults",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PutSOPOrderNew",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Sales order to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales order was updated. Response body will include the sales order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrder"
      },
      "x-sage-pathtitle": "New sales order with defaults"
    },
    "/sop_orders_duplicate": {
      "post": {
        "tags": [
          "SOP Orders Duplicate"
        ],
        "summary": "Duplicate Sales Order.",
        "description": "Returns a duplicate sales order using the sales order options specified.<p>This API endpoint creates a draft sales order which needs to be either:<ul><li>confirmed as a live order by using the PUT sop_orders endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE sop_orders endpoint</li></ul></p>",
        "operationId": "PostSOPOrdersDuplicate",
        "requestBody": {
          "description": "The options to duplicate the sales order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_order_duplicate_flags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The duplicate sales order was successfully returned. Response body will include the sales order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrderDuplicateFlags"
      },
      "x-sage-pathtitle": "Duplicate sales order.",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/sop_order_return_views": {
      "get": {
        "tags": [
          "SOP Order Return Views"
        ],
        "summary": "SOP Order Return Views",
        "description": "\"This resource returns the details of all SOP return orders (includes orders, returns, quotes, proformas only). The default sort (orderby) fields are by 'document_no' and 'Id' ascending.\"",
        "operationId": "GetSOPOrderReturnViews",
        "responses": {
          "200": {
            "description": "The list of SOP orders has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order_return_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP Order Return views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        }
      ]
    },
    "/sop_quote_views": {
      "get": {
        "tags": [
          "SOP Quote Views"
        ],
        "summary": "SOP Quote Views",
        "description": "\"This resource returns the details of all SOP quotes. The default sort (orderby) fields are by 'document_no' and 'Id' ascending.\"",
        "operationId": "GetSOPQuoteViews",
        "responses": {
          "200": {
            "description": "The list of SOP quotes has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_quote_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP quote views",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/customers/{customerId}/sop_orders": {
      "get": {
        "tags": [
          "SOP Orders"
        ],
        "summary": "Sales Orders For A Customer",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. Note: If you're using traceable stock items and an item is set to be sold from a single batch, then the order quantity must be less than or equal to quantity in the batch. If you try to order more than quantity in the batch, the order cannot be posted via the API.",
        "operationId": "GetSOPOrdersForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the sales orders have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales orders for a customer"
    },
    "/lookup_sop_orders": {
      "get": {
        "tags": [
          "Lookup SOP Orders"
        ],
        "summary": "Lookup Sales Orders",
        "description": "Gets a subset of sales order information for populating a lookup.",
        "operationId": "GetLookupSOPOrders",
        "responses": {
          "200": {
            "description": "Get a collection of sales orders for populating a lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/lookup_sop_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Lookup Sales Orders",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'customer_id' and 'customer_document_no'."
        }
      ]
    },
    "/sop_order_lines/{Id}": {
      "get": {
        "tags": [
          "SOP Order Lines"
        ],
        "summary": "Sales Order Line",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderline",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP order line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order line successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order line",
      "x-sage-changelog": [
        {
          "date": "25/03/2017",
          "title": "Extended operation",
          "description": "Get operation includes read-only field 'selling_unit_description'. Get and Post operations include fields 'requested_delivery_date' and 'promised_delivery_date', and fields for analysis codes 1 to 5."
        },
        {
          "date": "16/10/2015",
          "title": "New Override field",
          "description": "Two new fields have been added to the Sales Order Line contract: <ul><li>unit_discount_percent</li><li>unit_discount_value</li></ul> These fields allow you to override the default order line discount. Setting one value will automatically calculate the other. If you set both values, then the unit_discount_value will override the unit_discount_percent, recalculating the percent based on the value (and vice-versa). The use of these fields adheres to user permission restrictions. If a user without sufficient permission attempts to override an order line discount, the response returned will be a 401 Unauthorized."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'use_description', 'to_allocate_quantity', 'nominal_reference', 'nominal_cost_centre', 'nominal_department', 'available_for_despatch', 'posted_invoice_credit_quantity', 'stock_unit_line_quantity', 'stock_unit_to_allocate_quantity', 'stock_unit_allocated_quantity', 'stock_unit_available_for_despatch', 'stock_unit_despatch_receipt_quantity', 'stock_unit_invoice_credit_quantity', 'stock_unit_posted_invoice_credit_quantity', 'allocation_status', 'despatch_receipt_status', 'invoice_credit_status', 'selling_unit_id', 'pricing_unit_id', 'pricing_unit_description', 'discounted_unit_price', 'discount_percent_specified', 'unit_discount_overridden', 'selling_unit_price_overridden', 'retain_manual_prices', 'fulfilment_method', 'confirmation_intent_type', 'mark_as_preferred', 'picking_list_comment', 'despatch_note_comment', 'has_pop_order', 'is_complete', 'additional_charge', 'nominal_code', 'pricing_unit', 'selling_unit', 'warehouse', 'profitability', 'traceable_adjustment_items', 'is_to_delete' and 'date_time_created'."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'create_cancelled_line', 'is_to_split_line', 'stock_unit_available_quantity', 'line_unit_precision', 'stock_unit_precision', 'selling_unit_multiple', 'stock_unit_multiple', 'back_to_back_status', 'is_line_deletable' and 'discount'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ]
    },
    "/sop_orders/{sopOrderId}/sop_order_lines": {
      "get": {
        "tags": [
          "SOP Order Lines"
        ],
        "summary": "Sales Order Lines For A Sales Order",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderLinesForSOPOrder",
        "parameters": [
          {
            "name": "sopOrderId",
            "in": "path",
            "description": "Unique Id of the SOP order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the sales order lines have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order lines for a sales order"
    },
    "/sop_orders/{sopOrderId}/sop_order_lines/{Id}": {
      "get": {
        "tags": [
          "SOP Order Lines"
        ],
        "summary": "Sales Order Line From Sales Order",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderLineForSOPOrder",
        "parameters": [
          {
            "name": "sopOrderId",
            "in": "path",
            "description": "Unique Id of the SOP order.",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP order line.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order line successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order line from sales order"
    },
    "/sop_order_return_invoice_credit_views": {
      "get": {
        "tags": [
          "SOP Order Return Invoice Credit Views"
        ],
        "summary": "Sales Order Return Invoice Credit Views",
        "description": "Returns the collection of sales orders and returns and invoices and credit notes.",
        "operationId": "GetSOPOrderInvoiceViews",
        "responses": {
          "200": {
            "description": "The list of sales order return invoice credit views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order_return_invoice_credit_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales Order Return Invoice Credit Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_order_return_line_invoice_credit_views": {
      "get": {
        "tags": [
          "SOP Order Return Line Invoice Credit Views"
        ],
        "summary": "Sales Order Return Line Invoice Credit Views",
        "description": "Returns the collection of sales orders and returns and invoices and credit notes for a line.",
        "operationId": "GetSOPOrderReturnLineInvoiceViews",
        "responses": {
          "200": {
            "description": "The list of sales order return line invoice credit views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order_return_line_invoice_credit_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales Order Return Line Invoice Credit Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_allocation_line_views": {
      "get": {
        "tags": [
          "SOP Allocation Line Views"
        ],
        "summary": "Sales Allocation Line Views",
        "description": "Returns the collection of allocations of sales orders.",
        "operationId": "GetSOPAllocationLineViews",
        "responses": {
          "200": {
            "description": "The list of sales allocation line views have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_allocation_line_view"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales Allocation Line Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_quotes": {
      "get": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "Sales Quotes",
        "description": "Sales quotes are used to represent the quotation of a sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPQuotes",
        "responses": {
          "200": {
            "description": "The details of the sales quotes have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "Sales Quotes",
        "description": "Sales quotes are used to represent the quotation of a sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PostSOPQuote",
        "requestBody": {
          "description": "Sales quote to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_quote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales quote was created. Response body will include the sales quote details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "sop_quote"
      },
      "x-sage-pathtitle": "Sales quotes",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/sop_quotes/{Id}": {
      "get": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "Sales Quote",
        "description": "Sales quotes are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPQuote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales quote successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "Sales Quote",
        "description": "Sales quote are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. <br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted",
        "operationId": "PutSOPQuote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Sales quote to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_quote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales quote was updated. Response body will include the sales quote details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPQuote"
      },
      "delete": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "Sales Quote",
        "description": "Sales quotes are used to represent the quotations of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "DeleteSOPQuote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales quote"
    },
    "/sop_quotes_new": {
      "post": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "New Sales Quote With Defaults",
        "description": "Returns a sales quote with all the default values for a customer. The API endpoint does not persist the sales quote.",
        "operationId": "PostSOPQuotesNew",
        "requestBody": {
          "description": "A customer request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_quotes_new_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales quote with defaults was successfully returned. Response body will include the customer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPQuoteNew"
      },
      "x-sage-pathtitle": "New sales quote with defaults",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/sop_quotes_new/{Id}": {
      "put": {
        "tags": [
          "SOP Quotes"
        ],
        "summary": "New Sales Quote With Defaults",
        "description": "Sales quote are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PutSOPQuoteNew",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Sales quote to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_quote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales quote was updated. Response body will include the sales quote details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPQuote"
      },
      "x-sage-pathtitle": "New sales quote with defaults"
    },
    "/sop_quotes_duplicate": {
      "post": {
        "tags": [
          "SOP Quotes Duplicate"
        ],
        "summary": "Duplicate Sales Quote.",
        "description": "Returns a duplicate sales quote using the sales quote options specified.<p>This API endpoint creates a draft sales quote which needs to be either:<ul><li>confirmed as a live quote by using the PUT sop_quotes endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE sop_quotes endpoint</li></ul></p>",
        "operationId": "PostSOPQuotesDuplicate",
        "requestBody": {
          "description": "The options to duplicate the sales quote.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_quote_duplicate_flags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The duplicate sales quote was successfully returned. Response body will include the sales quote details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_quote"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPQuoteDuplicateFlags"
      },
      "x-sage-pathtitle": "Duplicate sales quote.",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ]
    },
    "/lookup_sop_quotes": {
      "get": {
        "tags": [
          "Lookup SOP Quotes"
        ],
        "summary": "Lookup Sales Quotes",
        "description": "Gets a subset of sales quotes information for populating a lookup.",
        "operationId": "GetLookupSOPQuotes",
        "responses": {
          "200": {
            "description": "Get a collection of sales quotes for populating a lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/lookup_sop_quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Lookup Sales Quotes",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/current_user_sop_user_permissions": {
      "get": {
        "tags": [
          "Current User SOP User Permissions"
        ],
        "summary": "Current User Invoice And Order User Permissions",
        "description": "Sales order and invoice permissions for the current logged in user. The permissions allow individual user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.<P>Note: the Id parameter expects the user Id as specified in System Administration.</P>",
        "operationId": "GetCurrentUserSOPUserPermission",
        "responses": {
          "200": {
            "description": "The details of the current user's SOP user permissions have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_user_permission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Current user invoice and order user permissions",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_user_permissions": {
      "get": {
        "tags": [
          "SOP User Permissions"
        ],
        "summary": "Invoice And Order User Permissions",
        "description": "Sales order and invoice permissions. The permissions allow user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.<P>Note: the Id parameter expects the user Id as specified in System Administration.</P>",
        "operationId": "GetSOPUserPermissions",
        "responses": {
          "200": {
            "description": "The list of the SOP user permissions has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_user_permission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Invoice and order user permissions",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_user_permissions/{Id}": {
      "get": {
        "tags": [
          "SOP User Permissions"
        ],
        "summary": "Invoice And Order Permissions For A Single User.",
        "description": "Sales order and invoice permissions. The permissions allow user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.",
        "operationId": "GetSOPUserPermission",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The user number as specified in System Administration.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SOP user permissions for a single user successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_user_permission"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Invoice and order permissions for a single user."
    },
    "/sop_cancelled_lines": {
      "get": {
        "tags": [
          "SOP Cancelled Lines"
        ],
        "summary": "Cancelled Lines For Sales Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in SOP Settings).",
        "operationId": "GetSOPCancelledLines",
        "responses": {
          "200": {
            "description": "The list of the SOP cancelled lines has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_cancelled_line"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Cancelled lines for sales orders and returns.",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_cancelled_lines/{Id}": {
      "get": {
        "tags": [
          "SOP Cancelled Lines"
        ],
        "summary": "Cancelled Line For Sales Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in SOP Settings).",
        "operationId": "GetSOPCancelledLine",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The sales order cancelled line Id.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the SOP cancelled lines have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_cancelled_line"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Cancelled line for sales orders and returns."
    },
    "/sop_confirm_despatch": {
      "get": {
        "tags": [
          "SOP Confirm Despatch"
        ],
        "summary": "Sales Order Lines Available For Despatch.",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers.<br/><br/>A GET request will return a collection of sales order lines available to despatch and can be filtered on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.<br/><br/>In Sage 200 Professional the confirmation_intent_type can be included in the query filter to determine if you are despatching goods (ConfirmOnDespatch) or services (Confirm). If omitted from the query filter, this value will default to ConfirmOnDespatch and return locked sales order goods to despatch.",
        "operationId": "GetSOPConfirmDespatch",
        "responses": {
          "200": {
            "description": "The details of the sales order lines that require despatch have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_confirm_despatch_adjustment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "SOP Confirm Despatch"
        ],
        "summary": "Sales Order Lines Available For Despatch.",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers.<br/><br/>A GET request will return a collection of sales order lines available to despatch and can be filtered on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.<br/><br/>In Sage 200 Professional the confirmation_intent_type can be included in the query filter to determine if you are despatching goods (ConfirmOnDespatch) or services (Confirm). If omitted from the query filter, this value will default to ConfirmOnDespatch and return locked sales order goods to despatch.",
        "operationId": "PostSOPConfirmDespatch",
        "requestBody": {
          "description": "Details of the sales order line you wish to despatch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_confirm_despatch_adjustment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The sales order lines have been successfully despatched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_confirm_despatch_adjustment"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPConfirmDespatchAdjustment"
      },
      "x-sage-pathtitle": "Sales order lines available for despatch.",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_confirm_despatch_bin_items": {
      "post": {
        "tags": [
          "SOP Confirm Despatch Bin Items"
        ],
        "summary": "Sales Order Bin Items Available For Despatch",
        "description": "Gets the list of bin items for the sales order line for despatch for non-traceable, multiple bin stock items.",
        "operationId": "PostSOPConfirmDespatchBinItems",
        "requestBody": {
          "description": "A sales order line request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_confirm_despatch_bin_items_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The bin items were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_confirm_despatch_bin_items_adjustment"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrderLine"
      },
      "x-sage-pathtitle": "Sales order bin items available for despatch",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_confirm_despatch_traceable_items": {
      "post": {
        "tags": [
          "SOP Confirm Despatch Traceable Items"
        ],
        "summary": "Sales Order Traceable Lines Available For Despatch",
        "description": "Gets the list of traceable items for a product associated with the sales order line for despatch.",
        "operationId": "PostSOPConfirmDespatchTraceableItems",
        "requestBody": {
          "description": "A sales order line request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_confirm_despatch_traceable_items_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The traceable items were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_confirm_despatch_traceable_adjustment"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrderLine"
      },
      "x-sage-pathtitle": "Sales order traceable lines available for despatch",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_despatch_receipts": {
      "get": {
        "tags": [
          "SOP Despatch Receipts"
        ],
        "summary": "SOP Despatch Receipts",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers. This includes the tracking information of the despatch when applicable.",
        "operationId": "GetSOPDespatchReceipts",
        "responses": {
          "200": {
            "description": "Despatch receipts were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_despatch_receipt"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP Despatch Receipts",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_despatch_receipts/{Id}": {
      "get": {
        "tags": [
          "SOP Despatch Receipts"
        ],
        "summary": "SOP Despatch Receipt",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers. This includes the tracking information of the despatch when applicable.",
        "operationId": "GetSOPDespatchReceipt",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Despatch Receipt.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Despatch receipt was successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_despatch_receipt"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Despatch Receipts"
        ],
        "summary": "SOP Despatch Receipt",
        "description": "Update the despatch receipt tracking details.",
        "operationId": "PutSOPDespatchReceipt",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the despatch receipt.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Despatch receipt to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_despatch_receipt"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The despatch receipt was successfully updated. Response body will include the despatch receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_despatch_receipt"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPDespatchReceipt"
      },
      "x-sage-pathtitle": "SOP Despatch Receipt"
    },
    "/sop_confirmation_intent_types": {
      "get": {
        "tags": [
          "SOP Confirmation Intent Types"
        ],
        "summary": "Sales Order Confirmation Intent Types",
        "description": "This specifies how non stock items are despatched or received.",
        "operationId": "GetSOPConfirmationIntentTypes",
        "responses": {
          "200": {
            "description": "The details of the SOP confirmation intent types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_confirmation_intent_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order confirmation intent types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_customer_types": {
      "get": {
        "tags": [
          "SOP Customer Types"
        ],
        "summary": "SOP Customer Types",
        "description": "The SOP customer type, used to determine the type of account for orders, quotes and proformas.<P>The API endpoint returns the following values: EnumCustomerTypeCash, EnumCustomerTypeCredit, EnumCustomerTypeProspect.</P>",
        "operationId": "GetSOPCustomerTypes",
        "responses": {
          "200": {
            "description": "The details of the customer account types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_customer_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP customer types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_despatch_discrete_orders": {
      "get": {
        "tags": [
          "SOP Despatch Discrete Orders"
        ],
        "summary": "SOP Despatch Discrete Orders",
        "description": "Returns a list of sales orders ready for despatch.<br /><br />This endpoint only supports filtering on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.",
        "operationId": "GetSOPDespatchDiscreteOrders",
        "responses": {
          "200": {
            "description": "The details of the sales orders ready for despatch have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_despatch_discrete_order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP despatch discrete orders",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_trade_line_status_types": {
      "get": {
        "tags": [
          "SOP Trade Line Status Types"
        ],
        "summary": "Trade Line Status Types",
        "description": "The trade line status is used to determine the invoice/credit or despatch/receipt status of an order line. Values cam be 'None', 'Partially' or 'Fully'.",
        "operationId": "GetSOPTradeLineStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the trade line status types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_trade_line_status_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Trade line status types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_order_entry_types": {
      "get": {
        "tags": [
          "SOP Order Entry Types"
        ],
        "summary": "Sales Order Entry Types",
        "description": "This specifies different types of order and invoice entry.",
        "operationId": "GetSOPOrderEntryTypes",
        "responses": {
          "200": {
            "description": "The details of the sales order entry types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_order_entry_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales order entry types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_document_types": {
      "get": {
        "tags": [
          "SOP Document Types"
        ],
        "summary": "Sales Document Types",
        "description": "This specifies different types of sales documents.",
        "operationId": "GetSOPDocumentTypes",
        "responses": {
          "200": {
            "description": "The details of the sales document types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_document_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Sales document types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_incoterms": {
      "get": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "GetSOPIncoterms",
        "responses": {
          "200": {
            "description": "The list of SOP incoterms has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_incoterm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PutSOPIncoterms",
        "requestBody": {
          "description": "The SOP incoterms to update.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/sop_incoterm"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The SOP incoterms were updated. Response body will include the department details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_incoterm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPIncoterms"
      },
      "post": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PostSOPIncoterms",
        "requestBody": {
          "description": "Incoterm to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_incoterm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The SOP incoterm was successfully created. Response body will include the SOP incoterm details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_incoterm"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPIncoterm"
      },
      "x-sage-pathtitle": "SOP incoterms",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_incoterms/{Id}": {
      "get": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "GetSOPIncoterm",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Incoterm.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SOP incoterm successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_incoterm"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PutSOPIncoterm",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the incoterm.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "Incoterm to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_incoterm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The SOP Incoterm was successfully updated. Response body will include the SOP incoterm details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_incoterm"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "Incoterm"
      },
      "delete": {
        "tags": [
          "SOP Incoterms"
        ],
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "DeleteSOPIncoterm",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Incoterm.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SOP Incoterm was successfully deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP incoterm"
    },
    "/sop_export_reasons": {
      "get": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "GetSOPExportReasons",
        "responses": {
          "200": {
            "description": "The list of reasons for SOP exports has been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_export_reason"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "PutSOPExportReasons",
        "requestBody": {
          "description": "The SOP export reasons to update.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/sop_export_reason"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The SOP export reasons were successfully updated. Response body will include the SOP reason for export details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sop_export_reason"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPExportReasons"
      },
      "post": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "PostSOPExportReasons",
        "requestBody": {
          "description": "SOP export reason to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_export_reason"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The SOP export reason was successfully created. Response body will include the SOP export reason details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_export_reason"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPExportReason"
      },
      "x-sage-pathtitle": "SOP reasons for export",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/sop_export_reasons/{Id}": {
      "get": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reason For Export",
        "description": "The reason for exporting the SOP order line to the customer.",
        "operationId": "GetSOPExportReason",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP reason For export.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the SOP reason for export successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_export_reason"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reason For Export",
        "description": "The reason for exporting the SOP order line to the customer.",
        "operationId": "PutSOPExportReason",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the export reason.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "SOP export reason to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_export_reason"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The reason for SOP export was successfully updated. Response body will include the SOP reason for export details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_export_reason"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPExportReason"
      },
      "delete": {
        "tags": [
          "SOP Export Reasons"
        ],
        "summary": "SOP Reason For Export",
        "description": "Reason for SOP export.",
        "operationId": "DeleteSOPExportReason",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP reason for export.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reason for SOP export was deleted.",
            "content": {}
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "SOP reason for export"
    },
    "/order_line_item_types": {
      "get": {
        "tags": [
          "Order Line Item Types"
        ],
        "summary": "Order Line Item Types",
        "description": "This specifies whether entry of standard, free text or both line types are allowed.",
        "operationId": "GetOrderLineItemTypes",
        "responses": {
          "200": {
            "description": "The details of the order line item types have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/order_line_item_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        }
      },
      "x-sage-pathtitle": "Order line item types",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ]
    },
    "/suggested_products": {
      "post": {
        "tags": [
          "Suggested Products"
        ],
        "summary": "Suggested Products",
        "description": "Returns a list of suggested products using the search options specified.",
        "operationId": "SuggestedProducts",
        "requestBody": {
          "description": "The options to search for suggested products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/suggested_product_options"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The list of suggested products matching the search options was successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/suggested_product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SuggestedProductsOptions"
      },
      "x-sage-pathtitle": "Suggested products",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "22/08/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'traceable_type_id'."
        }
      ]
    },
    "/sop_order_line_traceable_items": {
      "post": {
        "tags": [
          "SOP Order Line Traceable Items"
        ],
        "summary": "Sales Order Line Traceable Items",
        "description": "Gets the list of traceable items for a product associated with the sales order line.",
        "operationId": "PostSOPOrderLineTraceableItems",
        "requestBody": {
          "description": "A sales order line request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sop_order_line_traceable_items_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The traceable items were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sop_order_line_traceable_adjustment"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "SOPOrderLine"
      },
      "x-sage-pathtitle": "Sales order line traceable items",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'sale_from_single_batch', 'is_fixed_single_batch' and 'fixed_single_batch_traceable_item_id'."
        }
      ]
    },
    "/sop_additional_charges": {
      "get": {
        "tags": [
          "SOP Additional Charges"
        ],
        "summary": "SOP Additional Charges",
        "description": "Additional charges can be added to sales orders to account for items such as carriage and insurance. Within the Sage 200 application, users can setup and maintain the list of additional charges that can be referenced when creating a sales order.<br /><br />This API resource can be used to determine what each additional charge is for.",
        "operationId": "GetSOPAdditionalCharges",
        "responses": {
          "200": {
            "description": "The details of the SOP additional charges have been successfully returned.",
            "content": {
              "application/json": {
                "schema": {
[...]
