{
  "swagger": "2.0",
  "info": {
    "title": "Sage 200 v1 Extra SOP",
    "version": "1.0"
  },
  "host": "api.columbus.sage.com",
  "basePath": "/uk/sage200extra/accounts/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/sop_orders": {
      "x-sage-pathtitle": "Sales orders",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operations",
          "description": "Get and Post operations include fields 'requested_delivery_date' and 'promised_delivery_date'. Also fields for analysis codes 1 to 5."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now includes document discount percentage (post/get), document created by (post/get), subtotal charges (get), subtotal order discount (get) and analysis codes 6-20 in professional."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'customer_type', 'is_draft', 'is_editing', 'is_to_sequence_lines', 'create_cancelled_lines', 'override_on_hold', 'recalculate_prices', 'currency_id', 'is_credit_limit_exceeded', 'order_priority', 'external_reference', 'payment_with_order', 'payment_type', 'payment_value', 'payment_method_id', 'cash_account_invoice_address', 'currency', 'payment_method', 'profitability' and 'date_time_created'."
        },
        {
          "date": "08/11/2021",
          "title": "Extended operations",
          "description": "This endpoint was enhanced with PUT and DELETE operations."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'apply_available_document_discount_percent', 'lock_id', 'customer_delivery_address_id', 'is_triangulated', 'available_document_discount_percent', 'invoice_payment_with_order_immediately', 'payment_reference', 'payment_declared', 'payment_undeclared', 'declared_payment_remaining', 'payment_status' and 'memos'.<br />This operation has had the field 'create_cancelled_lines' removed."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "get": {
        "summary": "Sales Orders",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPOrders",
        "responses": {
          "200": {
            "description": "The details of the sales orders have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      },
      "post": {
        "summary": "Sales Orders",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.<br /><br />Note: Adding  traceable  items to sales orders.<br/>If you're using traceable stock items and an item is set to be sold from a single batch, then the order quantity must be less than or equal to quantity in the batch. If you try to order more than quantity in the batch, the order cannot be posted via the API.",
        "operationId": "PostSOPOrder",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sop_order",
            "in": "body",
            "description": "Sales order to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales order was created. Response body will include the sales order details.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      }
    },
    "/sop_orders/{Id}": {
      "x-sage-pathtitle": "Sales order",
      "get": {
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      },
      "put": {
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. <br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted.",
        "operationId": "PutSOPOrder",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPOrder",
            "in": "body",
            "description": "Sales order to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales order was updated. Response body will include the sales order details.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      },
      "delete": {
        "summary": "Sales Order",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "DeleteSOPOrder",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales order was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      }
    },
    "/sop_orders_new": {
      "x-sage-pathtitle": "New sales order with defaults",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'apply_available_document_discount_percent', 'lock_id', 'customer_delivery_address_id', 'is_triangulated', 'available_document_discount_percent', 'invoice_payment_with_order_immediately', 'payment_reference', 'payment_declared', 'payment_undeclared', 'declared_payment_remaining', 'payment_status' and 'memos'.<br />This operation has had the field 'create_cancelled_lines' removed."
        },
        {
          "date": "18/02/2022",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "post": {
        "summary": "New Sales Order With Defaults",
        "description": "Returns a sales order with all the default values for a customer. The API endpoint does not persist the sales order.",
        "operationId": "PostSOPOrdersNew",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPOrderNew",
            "in": "body",
            "description": "A customer request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_orders_new_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales order with defaults was successfully returned. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      }
    },
    "/sop_orders_new/{Id}": {
      "x-sage-pathtitle": "New sales order with defaults",
      "put": {
        "summary": "New Sales Order With Defaults",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PutSOPOrderNew",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales order.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPOrder",
            "in": "body",
            "description": "Sales order to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales order was updated. Response body will include the sales order details.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      }
    },
    "/sop_orders_duplicate": {
      "x-sage-pathtitle": "Duplicate sales order.",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'suppress_warnings' and 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "post": {
        "summary": "Duplicate Sales Order.",
        "description": "Returns a duplicate sales order using the sales order options specified.<p>This API endpoint creates a draft sales order which needs to be either:<ul><li>confirmed as a live order by using the PUT sop_orders endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE sop_orders endpoint</li></ul></p>",
        "operationId": "PostSOPOrdersDuplicate",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPOrderDuplicateFlags",
            "in": "body",
            "description": "The options to duplicate the sales order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_order_duplicate_flags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duplicate sales order was successfully returned. Response body will include the sales order details.",
            "schema": {
              "$ref": "#/definitions/sop_order"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders Duplicate"
        ]
      }
    },
    "/sop_order_return_views": {
      "x-sage-pathtitle": "SOP Order Return views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        }
      ],
      "get": {
        "summary": "SOP Order Return Views",
        "description": "\"This resource returns the details of all SOP return orders (includes orders, returns, quotes, proformas only). The default sort (orderby) fields are by 'document_no' and 'Id' ascending.\"",
        "operationId": "GetSOPOrderReturnViews",
        "responses": {
          "200": {
            "description": "The list of SOP orders has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_return_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Return Views"
        ]
      }
    },
    "/sop_quote_views": {
      "x-sage-pathtitle": "SOP quote views",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Quote Views",
        "description": "\"This resource returns the details of all SOP quotes. The default sort (orderby) fields are by 'document_no' and 'Id' ascending.\"",
        "operationId": "GetSOPQuoteViews",
        "responses": {
          "200": {
            "description": "The list of SOP quotes has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_quote_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quote Views"
        ]
      }
    },
    "/customers/{customerId}/sop_orders": {
      "x-sage-pathtitle": "Sales orders for a customer",
      "get": {
        "summary": "Sales Orders For A Customer",
        "description": "Sales orders are used to represent the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. Note: If you're using traceable stock items and an item is set to be sold from a single batch, then the order quantity must be less than or equal to quantity in the batch. If you try to order more than quantity in the batch, the order cannot be posted via the API.",
        "operationId": "GetSOPOrdersForCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Unique Id of the customer.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the sales orders have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Orders"
        ]
      }
    },
    "/lookup_sop_orders": {
      "x-sage-pathtitle": "Lookup Sales Orders",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'customer_id' and 'customer_document_no'."
        }
      ],
      "get": {
        "summary": "Lookup Sales Orders",
        "description": "Gets a subset of sales order information for populating a lookup.",
        "operationId": "GetLookupSOPOrders",
        "responses": {
          "200": {
            "description": "Get a collection of sales orders for populating a lookup.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lookup_sop_order"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Lookup SOP Orders"
        ]
      }
    },
    "/sop_order_lines/{Id}": {
      "x-sage-pathtitle": "Sales order line",
      "x-sage-changelog": [
        {
          "date": "25/03/2017",
          "title": "Extended operation",
          "description": "Get operation includes read-only field 'selling_unit_description'. Get and Post operations include fields 'requested_delivery_date' and 'promised_delivery_date', and fields for analysis codes 1 to 5."
        },
        {
          "date": "16/10/2015",
          "title": "New Override field",
          "description": "Two new fields have been added to the Sales Order Line contract: <ul><li>unit_discount_percent</li><li>unit_discount_value</li></ul> These fields allow you to override the default order line discount. Setting one value will automatically calculate the other. If you set both values, then the unit_discount_value will override the unit_discount_percent, recalculating the percent based on the value (and vice-versa). The use of these fields adheres to user permission restrictions. If a user without sufficient permission attempts to override an order line discount, the response returned will be a 401 Unauthorized."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'use_description', 'to_allocate_quantity', 'nominal_reference', 'nominal_cost_centre', 'nominal_department', 'available_for_despatch', 'posted_invoice_credit_quantity', 'stock_unit_line_quantity', 'stock_unit_to_allocate_quantity', 'stock_unit_allocated_quantity', 'stock_unit_available_for_despatch', 'stock_unit_despatch_receipt_quantity', 'stock_unit_invoice_credit_quantity', 'stock_unit_posted_invoice_credit_quantity', 'allocation_status', 'despatch_receipt_status', 'invoice_credit_status', 'selling_unit_id', 'pricing_unit_id', 'pricing_unit_description', 'discounted_unit_price', 'discount_percent_specified', 'unit_discount_overridden', 'selling_unit_price_overridden', 'retain_manual_prices', 'fulfilment_method', 'confirmation_intent_type', 'mark_as_preferred', 'picking_list_comment', 'despatch_note_comment', 'has_pop_order', 'is_complete', 'additional_charge', 'nominal_code', 'pricing_unit', 'selling_unit', 'warehouse', 'profitability', 'traceable_adjustment_items', 'is_to_delete' and 'date_time_created'."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'create_cancelled_line', 'is_to_split_line', 'stock_unit_available_quantity', 'line_unit_precision', 'stock_unit_precision', 'selling_unit_multiple', 'stock_unit_multiple', 'back_to_back_status', 'is_line_deletable' and 'discount'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ],
      "get": {
        "summary": "Sales Order Line",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderline",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP order line.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order line successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_order_line"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Lines"
        ]
      }
    },
    "/sop_orders/{sopOrderId}/sop_order_lines": {
      "x-sage-pathtitle": "Sales order lines for a sales order",
      "get": {
        "summary": "Sales Order Lines For A Sales Order",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderLinesForSOPOrder",
        "parameters": [
          {
            "name": "sopOrderId",
            "in": "path",
            "description": "Unique Id of the SOP order.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the sales order lines have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_line"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Lines"
        ]
      }
    },
    "/sop_orders/{sopOrderId}/sop_order_lines/{Id}": {
      "x-sage-pathtitle": "Sales order line from sales order",
      "get": {
        "summary": "Sales Order Line From Sales Order",
        "description": "All sales orders contain 'line items' that define what an order consists of (e.g. items on an order). If the contents of an order are modified by adding/updating/deleting order lines, this will affect the overall value of the order.",
        "operationId": "GetSOPOrderLineForSOPOrder",
        "parameters": [
          {
            "name": "sopOrderId",
            "in": "path",
            "description": "Unique Id of the SOP order.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP order line.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales order line successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_order_line"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Lines"
        ]
      }
    },
    "/sop_order_return_invoice_credit_views": {
      "x-sage-pathtitle": "Sales Order Return Invoice Credit Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Order Return Invoice Credit Views",
        "description": "Returns the collection of sales orders and returns and invoices and credit notes.",
        "operationId": "GetSOPOrderInvoiceViews",
        "responses": {
          "200": {
            "description": "The list of sales order return invoice credit views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_return_invoice_credit_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Return Invoice Credit Views"
        ]
      }
    },
    "/sop_order_return_line_invoice_credit_views": {
      "x-sage-pathtitle": "Sales Order Return Line Invoice Credit Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Order Return Line Invoice Credit Views",
        "description": "Returns the collection of sales orders and returns and invoices and credit notes for a line.",
        "operationId": "GetSOPOrderReturnLineInvoiceViews",
        "responses": {
          "200": {
            "description": "The list of sales order return line invoice credit views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_return_line_invoice_credit_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Return Line Invoice Credit Views"
        ]
      }
    },
    "/sop_allocation_line_views": {
      "x-sage-pathtitle": "Sales Allocation Line Views",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Allocation Line Views",
        "description": "Returns the collection of allocations of sales orders.",
        "operationId": "GetSOPAllocationLineViews",
        "responses": {
          "200": {
            "description": "The list of sales allocation line views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_allocation_line_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Allocation Line Views"
        ]
      }
    },
    "/sop_quotes": {
      "x-sage-pathtitle": "Sales quotes",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "get": {
        "summary": "Sales Quotes",
        "description": "Sales quotes are used to represent the quotation of a sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPQuotes",
        "responses": {
          "200": {
            "description": "The details of the sales quotes have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_quote"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      },
      "post": {
        "summary": "Sales Quotes",
        "description": "Sales quotes are used to represent the quotation of a sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PostSOPQuote",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sop_quote",
            "in": "body",
            "description": "Sales quote to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote was created. Response body will include the sales quote details.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      }
    },
    "/sop_quotes/{Id}": {
      "x-sage-pathtitle": "Sales quote",
      "get": {
        "summary": "Sales Quote",
        "description": "Sales quotes are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "GetSOPQuote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of sales quote successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      },
      "put": {
        "summary": "Sales Quote",
        "description": "Sales quote are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered. <br /><br />Please note that as each line is updated independently, as part of a PUT request, a failed line will return an error in the API response body, however, all lines prior to this will be updated. Subsequent lines to the error will not be posted",
        "operationId": "PutSOPQuote",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPQuote",
            "in": "body",
            "description": "Sales quote to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote was updated. Response body will include the sales quote details.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      },
      "delete": {
        "summary": "Sales Quote",
        "description": "Sales quotes are used to represent the quotations of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "DeleteSOPQuote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      }
    },
    "/sop_quotes_new": {
      "x-sage-pathtitle": "New sales quote with defaults",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "post": {
        "summary": "New Sales Quote With Defaults",
        "description": "Returns a sales quote with all the default values for a customer. The API endpoint does not persist the sales quote.",
        "operationId": "PostSOPQuotesNew",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPQuoteNew",
            "in": "body",
            "description": "A customer request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_quotes_new_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote with defaults was successfully returned. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      }
    },
    "/sop_quotes_new/{Id}": {
      "x-sage-pathtitle": "New sales quote with defaults",
      "put": {
        "summary": "New Sales Quote With Defaults",
        "description": "Sales quote are used to represent the quotation of the sale of goods or services to a customer. They are central to a business and define the terms (price, quantity and times) by which the products or services will be delivered.",
        "operationId": "PutSOPQuoteNew",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the sales quote.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPQuote",
            "in": "body",
            "description": "Sales quote to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales quote was updated. Response body will include the sales quote details.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes"
        ]
      }
    },
    "/sop_quotes_duplicate": {
      "x-sage-pathtitle": "Duplicate sales quote.",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'quotation_expiry_date'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        },
        {
          "date": "05/02/2024",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'despatch_receipt_status', 'invoice_credit_status' and 'cancelled_status'."
        }
      ],
      "post": {
        "summary": "Duplicate Sales Quote.",
        "description": "Returns a duplicate sales quote using the sales quote options specified.<p>This API endpoint creates a draft sales quote which needs to be either:<ul><li>confirmed as a live quote by using the PUT sop_quotes endpoint with the field 'is_editing' set to false</li><li>discarded using the DELETE sop_quotes endpoint</li></ul></p>",
        "operationId": "PostSOPQuotesDuplicate",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPQuoteDuplicateFlags",
            "in": "body",
            "description": "The options to duplicate the sales quote.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_quote_duplicate_flags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duplicate sales quote was successfully returned. Response body will include the sales quote details.",
            "schema": {
              "$ref": "#/definitions/sop_quote"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quotes Duplicate"
        ]
      }
    },
    "/lookup_sop_quotes": {
      "x-sage-pathtitle": "Lookup Sales Quotes",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Lookup Sales Quotes",
        "description": "Gets a subset of sales quotes information for populating a lookup.",
        "operationId": "GetLookupSOPQuotes",
        "responses": {
          "200": {
            "description": "Get a collection of sales quotes for populating a lookup.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lookup_sop_quote"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Lookup SOP Quotes"
        ]
      }
    },
    "/current_user_sop_user_permissions": {
      "x-sage-pathtitle": "Current user invoice and order user permissions",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Current User Invoice And Order User Permissions",
        "description": "Sales order and invoice permissions for the current logged in user. The permissions allow individual user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.<P>Note: the Id parameter expects the user Id as specified in System Administration.</P>",
        "operationId": "GetCurrentUserSOPUserPermission",
        "responses": {
          "200": {
            "description": "The details of the current user's SOP user permissions have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_user_permission"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Current User SOP User Permissions"
        ]
      }
    },
    "/sop_user_permissions": {
      "x-sage-pathtitle": "Invoice and order user permissions",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Invoice And Order User Permissions",
        "description": "Sales order and invoice permissions. The permissions allow user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.<P>Note: the Id parameter expects the user Id as specified in System Administration.</P>",
        "operationId": "GetSOPUserPermissions",
        "responses": {
          "200": {
            "description": "The list of the SOP user permissions has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_user_permission"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP User Permissions"
        ]
      }
    },
    "/sop_user_permissions/{Id}": {
      "x-sage-pathtitle": "Invoice and order permissions for a single user.",
      "get": {
        "summary": "Invoice And Order Permissions For A Single User.",
        "description": "Sales order and invoice permissions. The permissions allow user access to certain parts of a sales order or invoice. Default warehouses can also be set for each different order or invoice entry type.",
        "operationId": "GetSOPUserPermission",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The user number as specified in System Administration.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SOP user permissions for a single user successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_user_permission"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP User Permissions"
        ]
      }
    },
    "/sop_cancelled_lines": {
      "x-sage-pathtitle": "Cancelled lines for sales orders and returns.",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Cancelled Lines For Sales Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in SOP Settings).",
        "operationId": "GetSOPCancelledLines",
        "responses": {
          "200": {
            "description": "The list of the SOP cancelled lines has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_cancelled_line"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Cancelled Lines"
        ]
      }
    },
    "/sop_cancelled_lines/{Id}": {
      "x-sage-pathtitle": "Cancelled line for sales orders and returns.",
      "get": {
        "summary": "Cancelled Line For Sales Orders And Returns.",
        "description": "Cancelled lines are created if removing a line from an order or return, or if reducing the quantity on a line (subject to record_cancelled_order_lines being enabled in SOP Settings).",
        "operationId": "GetSOPCancelledLine",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The sales order cancelled line Id.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the SOP cancelled lines have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_cancelled_line"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Cancelled Lines"
        ]
      }
    },
    "/sop_confirm_despatch": {
      "x-sage-pathtitle": "Sales order lines available for despatch.",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Order Lines Available For Despatch.",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers.<br/><br/>A GET request will return a collection of sales order lines available to despatch and can be filtered on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.<br/><br/>In Sage 200 Professional the confirmation_intent_type can be included in the query filter to determine if you are despatching goods (ConfirmOnDespatch) or services (Confirm). If omitted from the query filter, this value will default to ConfirmOnDespatch and return locked sales order goods to despatch.",
        "operationId": "GetSOPConfirmDespatch",
        "responses": {
          "200": {
            "description": "The details of the sales order lines that require despatch have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_confirm_despatch_adjustment"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Confirm Despatch"
        ]
      },
      "post": {
        "summary": "Sales Order Lines Available For Despatch.",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers.<br/><br/>A GET request will return a collection of sales order lines available to despatch and can be filtered on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.<br/><br/>In Sage 200 Professional the confirmation_intent_type can be included in the query filter to determine if you are despatching goods (ConfirmOnDespatch) or services (Confirm). If omitted from the query filter, this value will default to ConfirmOnDespatch and return locked sales order goods to despatch.",
        "operationId": "PostSOPConfirmDespatch",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPConfirmDespatchAdjustment",
            "in": "body",
            "description": "Details of the sales order line you wish to despatch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_adjustment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sales order lines have been successfully despatched.",
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_adjustment"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Confirm Despatch"
        ]
      }
    },
    "/sop_confirm_despatch_bin_items": {
      "x-sage-pathtitle": "Sales order bin items available for despatch",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Sales Order Bin Items Available For Despatch",
        "description": "Gets the list of bin items for the sales order line for despatch for non-traceable, multiple bin stock items.",
        "operationId": "PostSOPConfirmDespatchBinItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPOrderLine",
            "in": "body",
            "description": "A sales order line request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_bin_items_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The bin items were successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_bin_items_adjustment"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Confirm Despatch Bin Items"
        ]
      }
    },
    "/sop_confirm_despatch_traceable_items": {
      "x-sage-pathtitle": "Sales order traceable lines available for despatch",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Sales Order Traceable Lines Available For Despatch",
        "description": "Gets the list of traceable items for a product associated with the sales order line for despatch.",
        "operationId": "PostSOPConfirmDespatchTraceableItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPOrderLine",
            "in": "body",
            "description": "A sales order line request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_traceable_items_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The traceable items were successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_confirm_despatch_traceable_adjustment"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Confirm Despatch Traceable Items"
        ]
      }
    },
    "/sop_despatch_receipts": {
      "x-sage-pathtitle": "SOP Despatch Receipts",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Despatch Receipts",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers. This includes the tracking information of the despatch when applicable.",
        "operationId": "GetSOPDespatchReceipts",
        "responses": {
          "200": {
            "description": "Despatch receipts were successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_despatch_receipt"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Despatch Receipts"
        ]
      }
    },
    "/sop_despatch_receipts/{Id}": {
      "x-sage-pathtitle": "SOP Despatch Receipt",
      "get": {
        "summary": "SOP Despatch Receipt",
        "description": "The confirm despatch records the despatch of goods and services from sales order lines to your customers. This includes the tracking information of the despatch when applicable.",
        "operationId": "GetSOPDespatchReceipt",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Despatch Receipt.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Despatch receipt was successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_despatch_receipt"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Despatch Receipts"
        ]
      },
      "put": {
        "summary": "SOP Despatch Receipt",
        "description": "Update the despatch receipt tracking details.",
        "operationId": "PutSOPDespatchReceipt",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the despatch receipt.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPDespatchReceipt",
            "in": "body",
            "description": "Despatch receipt to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_despatch_receipt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The despatch receipt was successfully updated. Response body will include the despatch receipt.",
            "schema": {
              "$ref": "#/definitions/sop_despatch_receipt"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Despatch Receipts"
        ]
      }
    },
    "/sop_confirmation_intent_types": {
      "x-sage-pathtitle": "Sales order confirmation intent types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Order Confirmation Intent Types",
        "description": "This specifies how non stock items are despatched or received.",
        "operationId": "GetSOPConfirmationIntentTypes",
        "responses": {
          "200": {
            "description": "The details of the SOP confirmation intent types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_confirmation_intent_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Confirmation Intent Types"
        ]
      }
    },
    "/sop_customer_types": {
      "x-sage-pathtitle": "SOP customer types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Customer Types",
        "description": "The SOP customer type, used to determine the type of account for orders, quotes and proformas.<P>The API endpoint returns the following values: EnumCustomerTypeCash, EnumCustomerTypeCredit, EnumCustomerTypeProspect.</P>",
        "operationId": "GetSOPCustomerTypes",
        "responses": {
          "200": {
            "description": "The details of the customer account types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_customer_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Customer Types"
        ]
      }
    },
    "/sop_despatch_discrete_orders": {
      "x-sage-pathtitle": "SOP despatch discrete orders",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Despatch Discrete Orders",
        "description": "Returns a list of sales orders ready for despatch.<br /><br />This endpoint only supports filtering on the following fields: confirmation_intent_type, trader_id, warehouse_id, document_no and document_date.",
        "operationId": "GetSOPDespatchDiscreteOrders",
        "responses": {
          "200": {
            "description": "The details of the sales orders ready for despatch have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_despatch_discrete_order"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Despatch Discrete Orders"
        ]
      }
    },
    "/sop_trade_line_status_types": {
      "x-sage-pathtitle": "Trade line status types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Trade Line Status Types",
        "description": "The trade line status is used to determine the invoice/credit or despatch/receipt status of an order line. Values cam be 'None', 'Partially' or 'Fully'.",
        "operationId": "GetSOPTradeLineStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the trade line status types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_trade_line_status_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Trade Line Status Types"
        ]
      }
    },
    "/sop_order_entry_types": {
      "x-sage-pathtitle": "Sales order entry types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Order Entry Types",
        "description": "This specifies different types of order and invoice entry.",
        "operationId": "GetSOPOrderEntryTypes",
        "responses": {
          "200": {
            "description": "The details of the sales order entry types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_entry_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Entry Types"
        ]
      }
    },
    "/sop_document_types": {
      "x-sage-pathtitle": "Sales document types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Sales Document Types",
        "description": "This specifies different types of sales documents.",
        "operationId": "GetSOPDocumentTypes",
        "responses": {
          "200": {
            "description": "The details of the sales document types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_document_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Document Types"
        ]
      }
    },
    "/sop_incoterms": {
      "x-sage-pathtitle": "SOP incoterms",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "GetSOPIncoterms",
        "responses": {
          "200": {
            "description": "The list of SOP incoterms has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_incoterm"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      },
      "put": {
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PutSOPIncoterms",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPIncoterms",
            "in": "body",
            "description": "The SOP incoterms to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_incoterm"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SOP incoterms were updated. Response body will include the department details.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_incoterm"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      },
      "post": {
        "summary": "SOP Incoterms",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PostSOPIncoterms",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPIncoterm",
            "in": "body",
            "description": "Incoterm to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_incoterm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SOP incoterm was successfully created. Response body will include the SOP incoterm details.",
            "schema": {
              "$ref": "#/definitions/sop_incoterm"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      }
    },
    "/sop_incoterms/{Id}": {
      "x-sage-pathtitle": "SOP incoterm",
      "get": {
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "GetSOPIncoterm",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Incoterm.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SOP incoterm successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_incoterm"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      },
      "put": {
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "PutSOPIncoterm",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the incoterm.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Incoterm",
            "in": "body",
            "description": "Incoterm to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_incoterm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SOP Incoterm was successfully updated. Response body will include the SOP incoterm details.",
            "schema": {
              "$ref": "#/definitions/sop_incoterm"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      },
      "delete": {
        "summary": "SOP Incoterm",
        "description": "Incoterms are used to provide a set of international rules for the interpretation of the most commonly used trade terms in international SOP orders.",
        "operationId": "DeleteSOPIncoterm",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP Incoterm.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "SOP Incoterm was successfully deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Incoterms"
        ]
      }
    },
    "/sop_export_reasons": {
      "x-sage-pathtitle": "SOP reasons for export",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "GetSOPExportReasons",
        "responses": {
          "200": {
            "description": "The list of reasons for SOP exports has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_export_reason"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      },
      "put": {
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "PutSOPExportReasons",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPExportReasons",
            "in": "body",
            "description": "The SOP export reasons to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_export_reason"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SOP export reasons were successfully updated. Response body will include the SOP reason for export details.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_export_reason"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      },
      "post": {
        "summary": "SOP Reasons For Export",
        "description": "The reasons for exporting the SOP order line to the customer.",
        "operationId": "PostSOPExportReasons",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPExportReason",
            "in": "body",
            "description": "SOP export reason to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_export_reason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SOP export reason was successfully created. Response body will include the SOP export reason details.",
            "schema": {
              "$ref": "#/definitions/sop_export_reason"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      }
    },
    "/sop_export_reasons/{Id}": {
      "x-sage-pathtitle": "SOP reason for export",
      "get": {
        "summary": "SOP Reason For Export",
        "description": "The reason for exporting the SOP order line to the customer.",
        "operationId": "GetSOPExportReason",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP reason For export.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the SOP reason for export successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_export_reason"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      },
      "put": {
        "summary": "SOP Reason For Export",
        "description": "The reason for exporting the SOP order line to the customer.",
        "operationId": "PutSOPExportReason",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the export reason.",
            "required": true,
            "type": "number"
          },
          {
            "name": "SOPExportReason",
            "in": "body",
            "description": "SOP export reason to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_export_reason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reason for SOP export was successfully updated. Response body will include the SOP reason for export details.",
            "schema": {
              "$ref": "#/definitions/sop_export_reason"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      },
      "delete": {
        "summary": "SOP Reason For Export",
        "description": "Reason for SOP export.",
        "operationId": "DeleteSOPExportReason",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP reason for export.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Reason for SOP export was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Export Reasons"
        ]
      }
    },
    "/order_line_item_types": {
      "x-sage-pathtitle": "Order line item types",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Order Line Item Types",
        "description": "This specifies whether entry of standard, free text or both line types are allowed.",
        "operationId": "GetOrderLineItemTypes",
        "responses": {
          "200": {
            "description": "The details of the order line item types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/order_line_item_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Order Line Item Types"
        ]
      }
    },
    "/suggested_products": {
      "x-sage-pathtitle": "Suggested products",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "22/08/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'traceable_type_id'."
        }
      ],
      "post": {
        "summary": "Suggested Products",
        "description": "Returns a list of suggested products using the search options specified.",
        "operationId": "SuggestedProducts",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SuggestedProductsOptions",
            "in": "body",
            "description": "The options to search for suggested products.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/suggested_product_options"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of suggested products matching the search options was successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/suggested_product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Suggested Products"
        ]
      }
    },
    "/sop_order_line_traceable_items": {
      "x-sage-pathtitle": "Sales order line traceable items",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'sale_from_single_batch', 'is_fixed_single_batch' and 'fixed_single_batch_traceable_item_id'."
        }
      ],
      "post": {
        "summary": "Sales Order Line Traceable Items",
        "description": "Gets the list of traceable items for a product associated with the sales order line.",
        "operationId": "PostSOPOrderLineTraceableItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SOPOrderLine",
            "in": "body",
            "description": "A sales order line request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sop_order_line_traceable_items_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The traceable items were successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_order_line_traceable_adjustment"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Line Traceable Items"
        ]
      }
    },
    "/sop_additional_charges": {
      "x-sage-pathtitle": "SOP additional charges",
      "get": {
        "summary": "SOP Additional Charges",
        "description": "Additional charges can be added to sales orders to account for items such as carriage and insurance. Within the Sage 200 application, users can setup and maintain the list of additional charges that can be referenced when creating a sales order.<br /><br />This API resource can be used to determine what each additional charge is for.",
        "operationId": "GetSOPAdditionalCharges",
        "responses": {
          "200": {
            "description": "The details of the SOP additional charges have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_additional_charge"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Additional Charges"
        ]
      }
    },
    "/sop_additional_charges/{Id}": {
      "x-sage-pathtitle": "SOP additional charge",
      "get": {
        "summary": "SOP Additional Charge",
        "description": "Additional charges can be added to sales orders to account for items such as carriage and insurance. Within the Sage 200 application, users can setup and maintain the list of additional charges that can be referenced when creating a sales order.<br /><br />This API resource can be used to determine what each additional charges is for.",
        "operationId": "GetSOPAdditionalCharge",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the SOP additional charge.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SOP additional charge successfully returned.",
            "schema": {
              "$ref": "#/definitions/sop_additional_charge"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Additional Charges"
        ]
      }
    },
    "/sop_order_despatch_line_views": {
      "x-sage-pathtitle": "SOP despatch line views",
      "x-sage-changelog": [
        {
          "date": "16/04/2019",
          "title": "Extended operation",
          "description": "The default sort (orderby) field are by 'sop_despatch_id' and 'sop_despatch_line_id' descending."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'sop_despatch_line_is_invoiced'."
        },
        {
          "date": "22/08/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'sop_order_line_type_id', 'sop_order_line_item_code', 'sop_order_line_item_description', 'sop_despatch_courier_name', 'sop_despatch_consignment_no', 'sop_despatch_incoterm', 'sop_despatch_export_reason', 'sop_despatch_pieces', 'sop_despatch_weight', 'sop_despatch_notes' and 'sys_courier_tracking_url'."
        }
      ],
      "get": {
        "summary": "SOP Despatch Line Views",
        "description": "This resource returns a view of relating despatch lines, sales orders , sales order lines, customers, products and warehouses that can be queried on any field. The default sort (orderby) field are by 'sop_despatch_id' and 'sop_despatch_line_id' descending.",
        "operationId": "GetSOPOrderDespatchLineViews",
        "responses": {
          "200": {
            "description": "The details of the SOP despatch lines have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_despatch_line_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Despatch Line Views"
        ]
      }
    },
    "/sop_order_despatch_views": {
      "x-sage-pathtitle": "SOP despatch note views",
      "x-sage-changelog": [
        {
          "date": "22/08/2022",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "SOP Despatch Note Views",
        "description": "This resource returns a view of relating despatches, sales orders and customers that can be queried on any field. The default sort (orderby) field are by 'sop_despatch_date' and 'sop_despatch_id' descending.",
        "operationId": "GetSOPOrderDespatchViews",
        "responses": {
          "200": {
            "description": "The details of the SOP despatch notes have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_despatch_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Despatch Views"
        ]
      }
    },
    "/sop_order_line_views": {
      "x-sage-pathtitle": "SOP order line views",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operation",
          "description": "This operation includes the fields 'selling_unit_description', 'requested_delivery_date' and 'promised_delivery_date'. It also includes fields for analysis codes 1 to 5 at both header and line levels."
        },
        {
          "date": "16/04/2019",
          "title": "Extended operation",
          "description": "The default sort (orderby) field are by 'sop_order_id' and 'sop_order_line_id' descending."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now includes subtotal values, settlement and document discounts, document created by, various document address fields and analysis codes 6-20 in professional."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'sop_delivery_addr_postal_name' and 'sop_delivery_addr_description'."
        }
      ],
      "get": {
        "summary": "SOP Order Line Views",
        "description": "This resource returns a view of related sales orders, sales order lines, customers, products, warehouses, tax codes currencies that can be queried on any field. The default sort (orderby) field are by 'sop_order_id' and 'sop_order_line_id' descending.",
        "operationId": "GetSOPOrderLineViews",
        "responses": {
          "200": {
            "description": "The details of the SOP line views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_order_line_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Order Line Views"
        ]
      }
    },
    "/sop_quote_line_views": {
      "x-sage-pathtitle": "SOP quote line views",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operation",
          "description": "This operation includes the fields 'selling_unit_description', 'requested_delivery_date' and 'promised_delivery_date'. It also includes fields for analysis codes 1 to 5 at both header and line levels."
        },
        {
          "date": "16/04/2019",
          "title": "Extended operation",
          "description": "The default sort (orderby) field are by 'sop_quote_id' and 'sop_quote_line_id' descending."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        }
      ],
      "get": {
        "summary": "SOP Quote Line Views",
        "description": "This resource returns a view of related sales quotes, sales quote lines, customers, products, warehouses, tax codes currencies that can be queried on any field. The default sort (orderby) field are by 'sop_quote_id' and 'sop_quote_line_id' descending.",
        "operationId": "GetSOPQuoteLineViews",
        "responses": {
          "200": {
            "description": "The details of the SOP line views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sop_quote_line_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "SOP Quote Line Views"
        ]
      }
    },
    "/sop_proforma_line_views": {
      "x-sage-pathtitle": "SOP pro forma line views",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operation",
          "description": "This operation includes the fields 'selling_unit_description', 'requested_delivery_date' and 'promised_delivery_date'. It also includes fields for analysis codes 1 to 5 at both header and line levels."
[...]
