{
  "swagger": "2.0",
  "info": {
    "title": "Sage 200 v1 Extra Stock",
    "version": "1.0"
  },
  "host": "api.columbus.sage.com",
  "basePath": "/uk/sage200extra/accounts/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/bom_cost_heading_types": {
      "x-sage-pathtitle": "BOM Cost Heading Types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "BOM Cost Heading Types",
        "description": "When calculating the cost of BOMs, estimates or works orders, the values are accumulated in a cost heading.<P>The API endpoint returns details of the cost heading types that can be used.</P>",
        "operationId": "GetBomCostHeadingTypes",
        "responses": {
          "200": {
            "description": "The list of cost heading types has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bom_cost_heading_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bom Cost Heading Types"
        ]
      }
    },
    "/search_categories": {
      "x-sage-pathtitle": "Search categories",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Search Categories",
        "description": "This API endpoint returns a list of allowed search categories.",
        "operationId": "GetSearchCategories",
        "responses": {
          "200": {
            "description": "The list of search categories has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/search_category"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search Categories"
        ]
      }
    },
    "/search_categories/{Id}": {
      "x-sage-pathtitle": "Search category",
      "get": {
        "summary": "Search Category",
        "description": "This API endpoint returns the search category matching the specified Id.",
        "operationId": "GetSearchCategory",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the search category.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the search category have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/search_category"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search Categories"
        ]
      }
    },
    "/search_values": {
      "x-sage-pathtitle": "Search values",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Search Values",
        "description": "This API endpoint returns a list of allowed search values.",
        "operationId": "GetSearchValues",
        "responses": {
          "200": {
            "description": "The list of search values has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/search_value"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search Values"
        ]
      }
    },
    "/search_values/{Id}": {
      "x-sage-pathtitle": "Search value",
      "get": {
        "summary": "Search Value",
        "description": "This API endpoint returns the search value matching the specified Id.",
        "operationId": "GetSearchValue",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the search value.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the search value have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/search_value"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Search Values"
        ]
      }
    },
    "/bom_cost_headings": {
      "x-sage-pathtitle": "BOM Cost Headings",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "BOM Cost Headings",
        "description": "When calculating the cost of BOMs, estimates or works orders, the values are accumulated in a cost heading.",
        "operationId": "GetBomCostHeadings",
        "responses": {
          "200": {
            "description": "The list of cost headings has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bom_cost_heading"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bom Cost Headings"
        ]
      }
    },
    "/bom_cost_headings/{Id}": {
      "x-sage-pathtitle": "BOM Cost Heading",
      "get": {
        "summary": "BOM Cost Heading",
        "description": "When calculating the cost of BOMs, estimates or works orders, the values are accumulated in a cost heading.",
        "operationId": "GetBomCostHeading",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the cost heading.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the cost heading have been successfully returned.",
            "schema": {
              "$ref": "#/definitions/bom_cost_heading"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bom Cost Headings"
        ]
      }
    },
    "/auto_generate_option_types": {
      "x-sage-pathtitle": "Auto generate option types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Auto Generate Option Types",
        "description": "Auto generate option types are used to auto generate the batch or serial numbers associated with the product that exist within the application. Products can be 'No automatic number generation', 'Use sequence numbers', 'Use date and sequence numbers' or 'Use order number and sequence number'.<P>The API endpoint returns details of the auto generate option types that can be used.</P>",
        "operationId": "GetAutoGenerateOptionTypes",
        "responses": {
          "200": {
            "description": "The details of the auto generate option types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/auto_generate_option_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Auto Generate Option Types"
        ]
      }
    },
    "/fulfilment_sequence_types": {
      "x-sage-pathtitle": "Fulfilment sequence types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Fulfilment Sequence Types",
        "description": "Fulfilment sequence types are the sequence options for the fulfilment methods used for product allocation which determines how products are allocated to sales orders within the application. Products can sequenced by 'Bin Priority', 'Smallest Quantity First', 'Largest Quantity First', 'Oldest Sell By Date', 'Oldest Use By Date' or 'FIFO'.<P>The API endpoint returns details of the fulfilment sequence types that can be used.</P>",
        "operationId": "GetFulfilmentSequenceTypes",
        "responses": {
          "200": {
            "description": "The details of the fulfilment sequence types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/fulfilment_sequence_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fulfilment Sequence Types"
        ]
      }
    },
    "/fulfilment_method_types": {
      "x-sage-pathtitle": "Fulfilment method types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Fulfilment Method Types",
        "description": "Fulfilment method types are the method of fulfilment for your products on sales orders. This determines how the products are allocated. Fulfmilment methods are 'From Stock', 'From Supplier Via Stock' and 'Direct To Customer'.<P>The API endpoint returns details of the fulfilment method types that can be used.</P>",
        "operationId": "GetFulfilmentMethodTypes",
        "responses": {
          "200": {
            "description": "The details of the fulfilment method types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/fulfilment_method_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Fulfilment Method Types"
        ]
      }
    },
    "/label_printing_option_types": {
      "x-sage-pathtitle": "Label printing option types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Label Printing Option Types",
        "description": "Label printing option types used to determine how to print order lablels. The label printing option types are 'Label not required', 'Label required per item' and 'Label required per batch'.<P>The API endpoint returns details of the label printing option types that can be used.</P>",
        "operationId": "GetLabelPrintingOptionTypes",
        "responses": {
          "200": {
            "description": "The details of the label printing option types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/label_printing_option_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Label Printing Option Types"
        ]
      }
    },
    "/auto_generate_separators": {
      "x-sage-pathtitle": "Auto generate separators",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Auto Generate Separators",
        "description": "Auto generate separators are used to auto generate the batch or serial numbers associated with the product that exist within the application. Auto generate separators can be 'None', 'Space', 'Colon', 'Forward Slash', 'Backward Slash', 'Dot' or 'Hyphen'.<P>The API endpoint returns details of the auto generate option types that can be used.</P>",
        "operationId": "GetAutoGenerateSeparators",
        "responses": {
          "200": {
            "description": "The details of the auto generate separators have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/auto_generate_separator"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Auto Generate Separators"
        ]
      }
    },
    "/auto_generate_separators/{Id}": {
      "x-sage-pathtitle": "Auto generate separator",
      "get": {
        "summary": "Auto Generate Separator",
        "description": "Auto generate separators are used to auto generate the batch or serial numbers associated with the product that exist within the application. Auto generate separators can be 'None', 'Space', 'Colon', 'Forward Slash', 'Backward Slash', 'Dot' or 'Hyphen'.<P>The API endpoint returns details of the auto generate option types that can be used.</P>",
        "operationId": "GetAutoGenerateSeparator",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the auto generate separator.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the auto generate separator has been successfully returned.",
            "schema": {
              "$ref": "#/definitions/auto_generate_separator"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Auto Generate Separators"
        ]
      }
    },
    "/products": {
      "x-sage-pathtitle": "Products",
      "x-sage-changelog": [
        {
          "date": "25/05/2017",
          "title": "Extended operations",
          "description": "Get, Put and Post operations now includes the array property warehouse_holdings. When the stock setting UseMultipleLocations is set to 'true' this MUST be specified during Post operations. It is used (during Post) to associated the product with a warehouse or, during Put, the reorder_level, minimum_level and maximum_level can be amended. During Get the property can be expanded."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'free_stock_quantity', 'fulfilment_sequence_type', 'traceable_type', 'sale_from_single_batch', 'allow_duplicate_numbers', 'uses_alternative_ref', 'uses_sell_by_date', 'uses_use_by_date', 'shelf_life', 'shelf_life_type', 'record_nos_on_goods_received', 'include_nos_on_count_sheets', 'auto_generate_option_type', 'auto_generate_separator_id', 'auto_generate_prefix', 'auto_generate_next_number', 'auto_generate_padding', 'base_unit_id', 'stock_unit_id', 'auto_generate_separator', 'base_unit', 'stock_unit', 'quantity_sold_this_period', 'quantity_bought_this_period', 'quantity_sold_last_period', 'quantity_bought_last_period', 'quantity_on_order_for_direct_delivery' and 'date_time_created'."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the field 'holding'.<br />This operation has had the fields 'quantity_sold_this_period', 'quantity_bought_this_period', 'quantity_sold_last_period', 'quantity_bought_last_period' and 'quantity_on_order_for_direct_delivery' removed."
        },
        {
          "date": "15/03/2021",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a PUT operation."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'use_description_on_documents', 'product_status_type', 'fulfilment_method_type', 'inactivation_date', 'manufacturer', 'part_number', 'label_printing_option_type', 'stocktake_cycle_period', 'standard_cost', 'average_buying_price', 'default_picking_list_comment', 'default_despatch_note_comment', 'commodity_code', 'country_of_origin_id', 'weight', 'suppress_mass_on_declaration', 'is_weee_item', 'use_supplementary_units', 'supplementary_unit_conversion_ratio', 'use_reverse_charge_vat_rules', 'landed_costs_type', 'landed_costs_percentage', 'landed_costs_per_item', 'bom_item_type', 'stock_nominal_code_id', 'revenue_nominal_code_id', 'accrual_nominal_code_id', 'issue_nominal_code_id', 'analysis_code_1', 'analysis_code_2', 'analysis_code_3', 'analysis_code_4', 'analysis_code_5', 'analysis_code_6', 'analysis_code_7', 'analysis_code_8', 'analysis_code_9', 'analysis_code_10', 'analysis_code_11', 'analysis_code_12', 'analysis_code_13', 'analysis_code_14', 'analysis_code_15', 'analysis_code_16', 'analysis_code_17', 'analysis_code_18', 'analysis_code_19', 'analysis_code_20', 'accrual_nominal_code', 'country_of_origin', 'issue_nominal_code', 'revenue_nominal_code', 'status', 'stock_nominal_code', 'alternative_products', 'cross_sell_products', 'memos' and 'suppliers'."
        },
        {
          "date": "10/05/2021",
          "title": "Extended operations",
          "description": "Get, Put and Post operations now includes the array property search_categories. It is used (during Post) to associate the product with a search category or, during Put, the search_value can be amended by setting the search_value_id. During Get the property can be expanded."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'bom_settings', 'search_category_values' and 'units'."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'has_alternative_products', 'has_cross_sell_products' and 'has_preferred_supplier'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ],
      "get": {
        "summary": "Products",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P><P>If stock setting UseMultipleLocations is true, you must specify warehouse holding(s) when creating products. <br /><br />If stock setting UseMultipleLocations is false, then new product will be automatically linked to the default (home) warehouse.</P>",
        "operationId": "GetProducts",
        "responses": {
          "200": {
            "description": "The details of the products have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      },
      "post": {
        "summary": "Products",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P>",
        "operationId": "PostProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "description": "Product to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product was created. Response body will include the product details.",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      }
    },
    "/products/{Id}": {
      "x-sage-pathtitle": "Product",
      "get": {
        "summary": "Product",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P>",
        "operationId": "GetProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of product successfully returned.",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      },
      "put": {
        "summary": "Product",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P>",
        "operationId": "PutProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product.",
            "required": true,
            "type": "number"
          },
          {
            "name": "Product",
            "in": "body",
            "description": "Product to update in Sage 200 Stock Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product was updated. Response body will include the product details.",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      },
      "delete": {
        "summary": "Product",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P>",
        "operationId": "DeleteProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Product was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      }
    },
    "/products_duplicate": {
      "x-sage-pathtitle": "Duplicate product",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'bom_settings', 'search_category_values' and 'units'."
        },
        {
          "date": "08/11/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'has_alternative_products', 'has_cross_sell_products' and 'has_preferred_supplier'."
        },
        {
          "date": "14/08/2023",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'spare_text_1', 'spare_text_2', 'spare_text_3', 'spare_text_4', 'spare_text_5', 'spare_text_6', 'spare_text_7', 'spare_text_8', 'spare_text_9', 'spare_text_10', 'spare_number_1', 'spare_number_2', 'spare_number_3', 'spare_number_4', 'spare_number_5', 'spare_number_6', 'spare_number_7', 'spare_number_8', 'spare_number_9', 'spare_number_10', 'spare_date_1', 'spare_date_2', 'spare_date_3', 'spare_date_4', 'spare_date_5', 'spare_bool_1', 'spare_bool_2', 'spare_bool_3', 'spare_bool_4' and 'spare_bool_5'."
        }
      ],
      "post": {
        "summary": "Duplicate Product",
        "description": "Returns a duplicate product using the product options specified.",
        "operationId": "DuplicateProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ProductDuplicateFlags",
            "in": "body",
            "description": "The options to duplicate the product.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product_duplicate_flags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duplicate product was successfully returned. Response body will include the product details.",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products Duplicate"
        ]
      }
    },
    "/product_suppliers": {
      "x-sage-pathtitle": "Product suppliers",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Suppliers",
        "description": "Product suppliers are used to record suppliers of products. The supplier details are used when creating purchase orders. A supplier can be the preferred supplier for a product. The preferred supplier details are suggested when entering a purchase order for the product.",
        "operationId": "GetProductSuppliers",
        "responses": {
          "200": {
            "description": "The details of the product suppliers have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_supplier"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Suppliers"
        ]
      },
      "post": {
        "summary": "Product Suppliers",
        "description": "Product suppliers are used to record suppliers of products. The supplier details are used when creating purchase orders. A supplier can be the preferred supplier for a product. The preferred supplier details are suggested when entering a purchase order for the product.",
        "operationId": "PostProductSupplier",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productSupplier",
            "in": "body",
            "description": "Product supplier to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product_supplier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product supplier was created. Response body will include the product supplier details.",
            "schema": {
              "$ref": "#/definitions/product_supplier"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Suppliers"
        ]
      }
    },
    "/product_suppliers/{Id}": {
      "x-sage-pathtitle": "Product supplier",
      "get": {
        "summary": "Product Supplier",
        "description": "Product suppliers are used to record suppliers of products. The supplier details are used when creating purchase orders. A supplier can be the preferred supplier for a product. The preferred supplier details are suggested when entering a purchase order for the product.",
        "operationId": "GetProductSupplier",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product supplier.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the product supplier successfully returned.",
            "schema": {
              "$ref": "#/definitions/product_supplier"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Suppliers"
        ]
      },
      "put": {
        "summary": "Product Supplier",
        "description": "Product suppliers are used to record suppliers of products. The supplier details are used when creating purchase orders. A supplier can be the preferred supplier for a product. The preferred supplier details are suggested when entering a purchase order for the product.",
        "operationId": "PutProductSupplier",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product supplier.",
            "required": true,
            "type": "number"
          },
          {
            "name": "ProductSupplier",
            "in": "body",
            "description": "Product supplier to update in Sage 200 Stock Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product_supplier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product supplier was updated. Response body will include the product supplier details.",
            "schema": {
              "$ref": "#/definitions/product_supplier"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Suppliers"
        ]
      },
      "delete": {
        "summary": "Product Supplier",
        "description": "Product suppliers are used to record suppliers of products. The supplier details are used when creating purchase orders. A supplier can be the preferred supplier for a product. The preferred supplier details are suggested when entering a purchase order for the product.",
        "operationId": "DeleteProductSupplier",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product supplier.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Product supplier was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Suppliers"
        ]
      }
    },
    "/alternative_products": {
      "x-sage-pathtitle": "Alternative products",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Alternative Products",
        "description": "Alternative products are suitable products that can be offered when a requested product is unavailable. An alternative product can be the preferred alternative for a product. When stock is issued for a sales order, if the product is unavailable, the preferred alternative can be chosen, if stock is available.",
        "operationId": "GetAlternativeProducts",
        "responses": {
          "200": {
            "description": "The details of the alternative products have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/alternative_product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Products"
        ]
      },
      "post": {
        "summary": "Alternative Products",
        "description": "Alternative products are suitable products that can be offered when a requested product is unavailable. An alternative product can be the preferred alternative for a product. When stock is issued for a sales order, if the product is unavailable, the preferred alternative can be chosen, if stock is available.",
        "operationId": "PostAlternativeProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternativeProduct",
            "in": "body",
            "description": "Alternative product to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alternative_product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alternative product was created. Response body will include the alternative product details.",
            "schema": {
              "$ref": "#/definitions/alternative_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Products"
        ]
      }
    },
    "/alternative_products/{Id}": {
      "x-sage-pathtitle": "Alternative product",
      "get": {
        "summary": "Alternative Product",
        "description": "Alternative products are suitable products that can be offered when a requested product is unavailable. An alternative product can be the preferred alternative for a product. When stock is issued for a sales order, if the product is unavailable, the preferred alternative can be chosen, if stock is available.",
        "operationId": "GetAlternativeProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the alternative product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the alternative product successfully returned.",
            "schema": {
              "$ref": "#/definitions/alternative_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Products"
        ]
      },
      "put": {
        "summary": "Alternative Product",
        "description": "Alternative products are suitable products that can be offered when a requested product is unavailable. An alternative product can be the preferred alternative for a product. When stock is issued for a sales order, if the product is unavailable, the preferred alternative can be chosen, if stock is available.",
        "operationId": "PutAlternativeProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the alternative product.",
            "required": true,
            "type": "number"
          },
          {
            "name": "AlternativeProduct",
            "in": "body",
            "description": "Alternative product to update in Sage 200 Stock Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alternative_product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alternative product was updated. Response body will include the alternative product details.",
            "schema": {
              "$ref": "#/definitions/alternative_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Products"
        ]
      },
      "delete": {
        "summary": "Alternative Product",
        "description": "Alternative products are suitable products that can be offered when a requested product is unavailable. An alternative product can be the preferred alternative for a product. When stock is issued for a sales order, if the product is unavailable, the preferred alternative can be chosen, if stock is available.",
        "operationId": "DeleteAlternativeProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the alternative product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Alternative product was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Products"
        ]
      }
    },
    "/cross_sell_products": {
      "x-sage-pathtitle": "Cross sell products",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Cross Sell Products",
        "description": "Cross sell products are complimentary products which are often sold together with another product. For example, if you sell a printer, you might want to show print cartridges or cables for that printer. Cross sell products can help speed up entering a full sales order.",
        "operationId": "GetCrossSellProducts",
        "responses": {
          "200": {
            "description": "The details of the cross sell products have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/cross_sell_product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Products"
        ]
      },
      "post": {
        "summary": "Cross Sell Products",
        "description": "Cross sell products are complimentary products which are often sold together with another product. For example, if you sell a printer, you might want to show print cartridges or cables for that printer. Cross sell products can help speed up entering a full sales order.",
        "operationId": "PostCrossSellProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "crossSellProduct",
            "in": "body",
            "description": "Cross sell product to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cross_sell_product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cross sell product was created. Response body will include the cross sell product details.",
            "schema": {
              "$ref": "#/definitions/cross_sell_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Products"
        ]
      }
    },
    "/cross_sell_products/{Id}": {
      "x-sage-pathtitle": "Cross sell product",
      "get": {
        "summary": "Cross Sell Product",
        "description": "Cross sell products are complimentary products which are often sold together with another product. For example, if you sell a printer, you might want to show print cartridges or cables for that printer. Cross sell products can help speed up entering a full sales order.",
        "operationId": "GetCrossSellProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the cross sell product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the cross sell product successfully returned.",
            "schema": {
              "$ref": "#/definitions/cross_sell_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Products"
        ]
      },
      "put": {
        "summary": "Cross Sell Product",
        "description": "Cross sell products are complimentary products which are often sold together with another product. For example, if you sell a printer, you might want to show print cartridges or cables for that printer. Cross sell products can help speed up entering a full sales order.",
        "operationId": "PutCrossSellProduct",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the cross sell product.",
            "required": true,
            "type": "number"
          },
          {
            "name": "CrossSellProduct",
            "in": "body",
            "description": "Cross sell product to update in Sage 200 Stock Ledger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cross_sell_product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cross sell product was updated. Response body will include the cross sell product details.",
            "schema": {
              "$ref": "#/definitions/cross_sell_product"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Products"
        ]
      },
      "delete": {
        "summary": "Cross Sell Product",
        "description": "Cross sell products are complimentary products which are often sold together with another product. For example, if you sell a printer, you might want to show print cartridges or cables for that printer. Cross sell products can help speed up entering a full sales order.",
        "operationId": "DeleteCrossSellProduct",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the cross sell product.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Cross sell product was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Products"
        ]
      }
    },
    "/product_memos": {
      "x-sage-pathtitle": "Product memos",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Memos",
        "description": "Memos are sections of text that can be used to make comments about a product.<br/><br/>Multiple memos can be added to each product. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetProductMemos",
        "responses": {
          "200": {
            "description": "The list of product memos has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_memo"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Memos"
        ]
      },
      "post": {
        "summary": "Product Memos",
        "description": "Memos are sections of text that can be used to make comments about a product.<br/><br/>Multiple memos can be added to each product. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PostProductMemo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ProductMemo",
            "in": "body",
            "description": "Product memo to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product_memo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product memo was created. Response body will include the product memo details.",
            "schema": {
              "$ref": "#/definitions/product_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Memos"
        ]
      }
    },
    "/product_memos/{Id}": {
      "x-sage-pathtitle": "Product memo",
      "get": {
        "summary": "Product Memo",
        "description": "Memos are sections of text that can be used to make comments about a product.<br/><br/>Multiple memos can be added to each product. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "GetProductMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product memo.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of product memo successfully returned.",
            "schema": {
              "$ref": "#/definitions/product_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Memos"
        ]
      },
      "put": {
        "summary": "Product Memo",
        "description": "Memos are sections of text that can be used to make comments about a product.<br/><br/>Multiple memos can be added to each product. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "PutProductMemo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product memo.",
            "required": true,
            "type": "number"
          },
          {
            "name": "ProductMemo",
            "in": "body",
            "description": "Product memo to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/product_memo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product memo was updated. Response body will include the product memo details.",
            "schema": {
              "$ref": "#/definitions/product_memo"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Memos"
        ]
      },
      "delete": {
        "summary": "Product Memo",
        "description": "Memos are sections of text that can be used to make comments about a product.<br/><br/>Multiple memos can be added to each product. The user that created the memo, the date it was created and last updated date and time are also recorded.<br/><br/>A user can also specify if a memo is currently 'Active' or 'Inactive'. This allows a user to keep a record of previous memos without deleting them.",
        "operationId": "DeleteProductMemo",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product memo.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Product memo was deleted."
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Memos"
        ]
      }
    },
    "/product_groups/{productGroupId}/products": {
      "x-sage-pathtitle": "Products for product group",
      "get": {
        "summary": "Products For Product Group",
        "description": "Products are used to track stock within Sage 200. This is not just for physical items, but also for items that are ordered direct from suppliers, services, and time or labour that can be included on customer invoices.<P>Each stock item has default settings that are used each time the item is bought or sold. Some of these are inherited from the product group and some are set on each item.</P>",
        "operationId": "GetProductsForProductGroup",
        "parameters": [
          {
            "name": "productGroupId",
            "in": "path",
            "description": "Unique Id of the product group.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the products have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Products"
        ]
      }
    },
    "/units": {
      "x-sage-pathtitle": "Units",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Units",
        "description": "The units of measure in which products are stored as well as those used when buying or selling products.",
        "operationId": "GetUnits",
        "responses": {
          "200": {
            "description": "The list of units has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/unit"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Units"
        ]
      }
    },
    "/units/{Id}": {
      "x-sage-pathtitle": "Unit",
      "get": {
        "summary": "Unit",
        "description": "The units of measure in which products are stored as well as those used when buying or selling products.",
        "operationId": "GetUnit",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the unit.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of unit successfully returned.",
            "schema": {
              "$ref": "#/definitions/unit"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Units"
        ]
      }
    },
    "/unit_types": {
      "x-sage-pathtitle": "Unit types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Unit Types",
        "description": "Unit types are used to indicate the unit of measure type within the application. The types can be 'Base', 'Stock' or 'Additional'.<P>The API endpoint returns details of the unit of measure types that can be used.</P>",
        "operationId": "GetUnitTypes",
        "responses": {
          "200": {
            "description": "The details of the unit types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/unit_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Unit Types"
        ]
      }
    },
    "/product_views": {
      "x-sage-pathtitle": "Product views",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "02/11/2020",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'bom_item_type_id'."
        }
      ],
      "get": {
        "summary": "Product Views",
        "description": "When making larger requests for product information, the Product Views resource can be a faster alternative to the 'Product' resource. The Product Views resource also returns a wider breadth of information than the Product resource. Using Product Views could therefore reduce the quantity of API requests needed to return the same information from multiple API resources.",
        "operationId": "GetProductViews",
        "responses": {
          "200": {
            "description": "Get a collection of products using views.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Views"
        ]
      }
    },
    "/product_status_types": {
      "x-sage-pathtitle": "Product status types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Status Types",
        "description": "Product status types are used to identify when a product can have a stock movement recorded against it within the application. Products can be 'Active' or 'Inactive'.<P>The API endpoint returns details of the product status types that can be used.</P>",
        "operationId": "GetProductStatusTypes",
        "responses": {
          "200": {
            "description": "The details of the product status types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_status_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Status Types"
        ]
      }
    },
    "/product_group_search_category_values": {
      "x-sage-pathtitle": "Product group search category values",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Group Search Category Values",
        "description": "This API endpoint returns a list of the allowed values for a product group search category.",
        "operationId": "GetProductGroupSearchCategoryValues",
        "responses": {
          "200": {
            "description": "The details of the product status types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_group_search_category_value"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Group Search Category Values"
        ]
      }
    },
    "/bom_item_types": {
      "x-sage-pathtitle": "Bill of materials item types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Bill Of Materials Item Types",
        "description": "Bill of materials item types are used to identify how this product will be used in a bill of materials within the application. Products can be 'Component', 'Subassembly', 'Phantom' or 'Built/Bought'.<P>The API endpoint returns details of the bill of materials item types that can be used.</P>",
        "operationId": "GetBOMItemTypes",
        "responses": {
          "200": {
            "description": "The details of the bill of materials item types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/bom_item_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Bom Item Types"
        ]
      }
    },
    "/traceable_types": {
      "x-sage-pathtitle": "Traceable types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Traceable Types",
        "description": "Traceable types are used to identify the different traceable options of the product that exist within the application. Products can be 'Non-Traceable', 'Serial Numbered' or 'Batch Numbered'.<P>The API endpoint returns details of the traceable types that can be used.</P>",
        "operationId": "GetTraceableTypes",
        "responses": {
          "200": {
            "description": "The details of the traceable types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/traceable_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Traceable Types"
        ]
      }
    },
    "/product_types": {
      "x-sage-pathtitle": "Product types",
      "get": {
        "summary": "Product Types",
        "description": "Product types are used to identify the different types of product that exist within the application. Products can be 'Stock', 'Miscellaneous' or 'Service/Labour'.<P>The API endpoint returns details of the product types that can be used.</P>",
        "operationId": "GetProductTypes",
        "responses": {
          "200": {
            "description": "The details of the product types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Types"
        ]
      }
    },
    "/product_transaction_group_types": {
      "x-sage-pathtitle": "Product transaction group types",
      "x-sage-changelog": [
        {
          "date": "14/12/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Transaction Group Types",
        "description": "Product transaction group types are used to group the different (secondary) transaction types of the product within the application. Product transaction group types can be 'Allocation', 'Goods Out', 'Goods In', 'On POP Order'.<P>The API endpoint returns details of the product transaction group types that can be used.</P>",
        "operationId": "GetProductTransactionGroupTypes",
        "responses": {
          "200": {
            "description": "The details of the product transaction group types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_transaction_group_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Transaction Group Types"
        ]
      }
    },
    "/product_transaction_types": {
      "x-sage-pathtitle": "Product transaction types",
      "get": {
        "summary": "Product Transaction Types",
        "description": "Product transaction types are used to identify the different types of product movement transactions. These transactions are created when products are moved in and out of stock and, can be from various sources such as purchase orders or sales orders.",
        "operationId": "GetProductTransactionTypes",
        "responses": {
          "200": {
            "description": "The details of the product transaction types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_transaction_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Transaction Types"
        ]
      }
    },
    "/product_transaction_views": {
      "x-sage-pathtitle": "Product transaction views",
      "x-sage-changelog": [
        {
          "date": "16/04/2019",
          "title": "Extended operation",
          "description": "The default sort (orderby) field is by 'Id' descending."
        },
        {
          "date": "09/05/2019",
          "title": "Extended operation",
          "description": "This operation now supports analysis codes 6-20 in professional."
        },
        {
          "date": "14/12/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'transaction_group_id', 'transaction_type_id' and 'source_area_type_id'."
        }
      ],
      "get": {
        "summary": "Product Transaction Views",
        "description": "A product transaction is created each time a product is moved in, or out of stock. Product transactions are created from various sources such as purchase orders, sales orders, transfers between warehouses etc.. This resource returns the details of product transactions. The default sort (orderby) field is by 'Id' descending.",
        "operationId": "GetProductTransactionViews",
        "responses": {
          "200": {
            "description": "The details of the product transaction views have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_transaction_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Transaction Views"
        ]
      }
    },
    "/product_transactions/{traceableHistoryId}/traceable_item_transactions": {
      "x-sage-pathtitle": "Traceable item details for a product traceable history record",
      "x-sage-professional-only": true,
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Traceable Item Details For A Product Traceable History Record",
        "description": "Returns the collection of traceable item details for a product traceable history record. (Sage 200 Professional only).",
        "operationId": "GetTransactionsForTraceableHistory",
        "parameters": [
          {
            "name": "traceableHistoryId",
            "in": "path",
            "description": "Unique Id of the product traceable history record.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of traceable item details for a product traceable history record have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_transaction_traceable_item_history_record"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Traceable Item Transactions"
        ]
      }
    },
    "/costing_method_types": {
      "x-sage-pathtitle": "Costing method types",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Costing Method Types",
        "description": "Costing method types are used to calculate the cost of sales from your sales orders, the value of stock and the transactions posted to your stock nominal accounts within the application. Product groups can be 'FIFO', 'Average', 'Standard' or 'Actual'.<P>The API endpoint returns details of the costing method types that can be used.</P>",
        "operationId": "GetCostingMethodTypes",
        "responses": {
          "200": {
            "description": "The details of the costing method types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/costing_method_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Costing Method Types"
        ]
      }
    },
    "/landed_costs_types": {
      "x-sage-pathtitle": "Landed costs types",
      "x-sage-changelog": [
        {
          "date": "15/03/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Landed Costs Types",
        "description": "Landed costs refer to any costs associated with the shipping, handling and importing of stock items on purchase orders. These additional costs are often invoiced separately, for example, by a courier. Landed costs type can be 'Not Applicable', 'Percentage Based', or 'Value Based'.<P>The API endpoint returns details of the costing method types that can be used.</P>",
        "operationId": "GetLandedCostsTypes",
        "responses": {
          "200": {
            "description": "The details of the landed costs types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/landed_costs_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Landed Costs Types"
        ]
      }
    },
    "/product_search": {
      "x-sage-pathtitle": "Product search",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "22/08/2022",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'show_only_allow_sales_order'."
        }
      ],
      "post": {
        "summary": "Product Search",
        "description": "Returns matching products associated with the search category values passed.",
        "operationId": "PostProductSearch",
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The matching products was successfully returned. Response body will include the customer details.",
            "schema": {
              "$ref": "#/definitions/product_search"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Search"
        ]
      }
    },
    "/product_search_types": {
      "x-sage-pathtitle": "Product search types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Product Search Types",
        "description": "Product search types.<P>The API endpoint returns details of the product search types that can be used.</P>",
        "operationId": "GetProductSearchTypes",
        "responses": {
          "200": {
            "description": "The details of the product search types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_search_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Search Types"
        ]
      }
    },
    "/product_groups": {
      "x-sage-pathtitle": "Product groups",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'costing_method', 'selling_quantities_use_multiple_units', 'selling_prices_use_multiple_units' and 'date_time_created'."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'stocktake_cycle_period', 'label_printing_option_type', 'keep_movement_history', 'can_over_allocate_negative_stock', 'use_description_on_documents', 'use_reverse_charge_vat_rules', 'do_items_use_units', 'buying_quantities_use_multiple_units', 'buying_prices_use_multiple_units', 'do_items_use_markup', 'use_landed_costs', 'landed_costs_type', 'landed_costs_percentage', 'landed_costs_per_item', 'traceable_type', 'stock_nominal_code_id', 'revenue_nominal_code_id', 'accrual_nominal_code_id', 'issue_nominal_code_id', 'accrual_nominal_code', 'issue_nominal_code', 'revenue_nominal_code' and 'stock_nominal_code'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'this_is_the_sop_product_group', 'sale_from_single_batch', 'allow_duplicate_numbers', 'uses_alternative_ref', 'uses_sell_by_date', 'uses_use_by_date', 'base_unit_id', 'stock_unit_id', 'base_unit', 'stock_unit', 'search_categories', 'units' and 'bom_settings'."
        }
      ],
      "get": {
        "summary": "Product Groups",
        "description": "Product groups are used to group stock items together with similar characteristics or requirements. Product Groups provide several default settings for stock items and have their own unique code and description.",
        "operationId": "GetProductGroups",
        "responses": {
          "200": {
            "description": "The details of the product groups have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/product_group"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Groups"
        ]
      }
    },
    "/product_groups/{Id}": {
      "x-sage-pathtitle": "Product group",
      "get": {
        "summary": "Product Group",
        "description": "Product groups are used to group stock items together with similar characteristics or requirements. Product Groups provide several default settings for stock items and have their own unique code and description.",
        "operationId": "GetProductGroup",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the product group.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of product group successfully returned.",
            "schema": {
              "$ref": "#/definitions/product_group"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Product Groups"
        ]
      }
    },
    "/lookup_product_groups": {
      "x-sage-pathtitle": "Lookup Product Groups",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Lookup Product Groups",
        "description": "Gets a subset of product group information for populating a lookup.",
        "operationId": "GetLookupProductGroups",
        "responses": {
          "200": {
            "description": "Get a collection of product groups for populating a lookup.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lookup_product_group"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Lookup Product Groups"
        ]
      }
    },
    "/lookup_products": {
      "x-sage-pathtitle": "Lookup Products",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "15/03/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'allow_sales_order'."
        }
      ],
      "get": {
        "summary": "Lookup Products",
        "description": "Gets a subset of product information for populating a lookup.",
        "operationId": "GetLookupProducts",
        "responses": {
          "200": {
            "description": "Get a collection of products for populating a lookup.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lookup_product"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Lookup Products"
        ]
      }
    },
    "/lookup_stock_item_units": {
      "x-sage-pathtitle": "Lookup Stock Item Units",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint field",
          "description": "This operation now includes the field 'unit_id'."
        }
      ],
      "get": {
        "summary": "Lookup Stock Item Units",
        "description": "Gets a subset of Stock Item Unit information for populating a lookup.",
        "operationId": "GetLookupStockItemUnits",
        "responses": {
          "200": {
            "description": "Get a collection of Stock Item Units for populating a lookup.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lookup_stock_item_unit"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Lookup Stock Item Units"
        ]
      }
    },
    "/stock_transfers": {
      "x-sage-pathtitle": "Stock transfers",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Stock Transfers",
        "description": "A stock transfer is used to move stock from one location to another.",
        "operationId": "PostStockTransfers",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Stock transfers",
            "in": "body",
            "description": "Product to transfer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stock_transfer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stock transfer was successful.",
            "schema": {
              "$ref": "#/definitions/stock_transfer_response"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stock Transfers"
        ]
      }
    },
    "/stock_transfer_traceable_items": {
      "x-sage-pathtitle": "Stock transfer - Get Traceable Items",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Stock Transfer - Get Traceable Items",
        "description": "Gets the list of traceable items for a product and bin.",
        "operationId": "PostStockTransferTraceableItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Stock transfer",
            "in": "body",
            "description": "Product to transfer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stock_transfer_traceable_items_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The traceable items were successfully returned.",
            "schema": {
              "$ref": "#/definitions/stock_transfer"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stock Transfer Traceable Items"
        ]
      }
    },
    "/stocktake_new_items": {
      "x-sage-pathtitle": "Stocktake new items",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Stocktake New Items",
        "description": "Retrieves a list of stock items or bins that are available for a new stocktake.",
        "operationId": "PostStocktakeNewItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Stocktake New Items",
            "in": "body",
            "description": "The items available for a new stocktake.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stocktake"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieving of new items for a stocktake was successful.",
            "schema": {
              "$ref": "#/definitions/stocktake"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktake New Items"
        ]
      }
    },
    "/stocktake_amend_items": {
      "x-sage-pathtitle": "Stocktake amend items",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "post": {
        "summary": "Stocktake Amend Items",
        "description": "Retrieves a list of stock items or bins that are available for an existing stocktake.",
        "operationId": "PostStocktakeAmendItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Stocktake Amend Items",
            "in": "body",
            "description": "The items available for an existing stocktake.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stocktake"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieving of items for an existing stocktake was successful.",
            "schema": {
              "$ref": "#/definitions/stocktake"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stocktake Amend Items"
        ]
      }
    },
    "/cross_sell_product_views": {
      "x-sage-pathtitle": "Cross Sell Product views",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'cross_sell_product_status_type_id' and 'cross_sell_product_traceable_type_id'.<br />This operation has had the field 'cross_sell_product_status_type' removed."
        }
      ],
      "get": {
        "summary": "Cross Sell Product Views",
        "description": "\"This resource returns a lookup linking products with products that it can be cross sold with.\"",
        "operationId": "GetCrossSellProductViews",
        "responses": {
          "200": {
            "description": "The list of cross sell products has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/cross_sell_product_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Cross Sell Product Views"
        ]
      }
    },
    "/alternative_product_views": {
      "x-sage-pathtitle": "Alternative Product views",
      "x-sage-changelog": [
        {
          "date": "08/11/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        },
        {
          "date": "18/02/2022",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'alternative_product_status_type_id' and 'alternative_product_traceable_type_id'.<br />This operation has had the field 'alternative_product_status_type' removed."
        }
      ],
      "get": {
        "summary": "Alternative Product Views",
        "description": "\"This specifies a lookup linking products with products that are an alternative for it.\"",
        "operationId": "GetAlternativeProductViews",
        "responses": {
          "200": {
            "description": "The list of alternative products has been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/alternative_product_view"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Alternative Product Views"
        ]
      }
    },
    "/serial_allocated_to_who_types": {
      "x-sage-pathtitle": "Serial allocated to who types",
      "x-sage-changelog": [
        {
          "date": "26/07/2021",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Serial Allocated To Who Types",
        "description": "The serial allocated to who type, used to determine the type of allocation of a serial number.<P>The API endpoint returns the following values: EnumSerialAllocatedToWhoNot, EnumSerialAllocatedToWhoThis, EnumSerialAllocatedToWhoOther.</P>",
        "operationId": "GetSerialAllocatedToWhoTypes",
        "responses": {
          "200": {
            "description": "The details of the serial allocated to who types have been successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/serial_allocated_to_who_type"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Serial Allocated To Who Types"
        ]
      }
    },
    "/stock_settings": {
      "x-sage-pathtitle": "Stock settings",
      "x-sage-changelog": [
        {
          "date": "16/09/2020",
          "title": "Extended operation",
          "description": "This endpoint was enhanced with a GET by Id operation."
        },
        {
          "date": "16/09/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'use_search_categories', 'integrate_stock_management_with_nominal', 'generate_cos_for_sop', 'allow_negative_stocktake', 'allow_negative_stocktake_with_purchase_order' and 'allocate_individual_items'."
        },
        {
          "date": "14/12/2020",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'internal_areas' and 'date_time_created'."
        },
        {
          "date": "26/07/2021",
          "title": "Enhanced endpoint fields",
          "description": "This operation now includes the fields 'record_numbers_on_goods_received', 'allow_fulfilment_from_stock', 'allow_fulfilment_from_supplier_via_stock', 'allow_fulfilment_from_supplier_direct_to_customer', 'use_landed_costs' and 'landed_costs_nominal_code_id'."
        }
      ],
      "get": {
        "summary": "Stock Settings",
        "description": "The Stock Settings are used to choose how to process and manage your stock.",
        "operationId": "GetStockSettings",
        "responses": {
          "200": {
            "description": "Details of stock settings successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stock_settings"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stock Settings"
        ]
      }
    },
    "/stock_settings/{Id}": {
      "x-sage-pathtitle": "Stock setting",
      "get": {
        "summary": "Stock Setting",
        "description": "The Stock Settings are used to choose how to process and manage your stock.",
        "operationId": "GetStockSetting",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Unique Id of the stock settings.",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Stock settings successfully returned.",
            "schema": {
              "$ref": "#/definitions/stock_settings"
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
          "Stock Settings"
        ]
      }
    },
    "/internal_areas": {
      "x-sage-pathtitle": "Internal areas",
      "x-sage-changelog": [
        {
          "date": "14/12/2020",
          "title": "New endpoint",
          "description": "This endpoint was added."
        }
      ],
      "get": {
        "summary": "Internal Areas",
        "description": "The internal areas represent departments such as sales, retail and production. Use them to monitor stock issued for internal use.",
        "operationId": "GetInternalAreas",
        "responses": {
          "200": {
            "description": "Internal areas successfully returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/internal_area"
              }
            }
          },
          "400": {
            "description": "There was a problem with the request. Request body will include details."
          }
        },
        "produces": [
          "application/json"
        ],
        "tags": [
[...]
